[2021-04-07 14:56] ewag opened #84 "Can't build, undefined error with github.com/yuin/goldmark"
➜  jira_go go get github.com/ankitpokhrel/jira-cli/cmd/jira
go: found github.com/ankitpokhrel/jira-cli/cmd/jira in github.com/ankitpokhrel/jira-cli v0.0.0-20210323162451-7ea7fb0ad495
# github.com/charmbracelet/glamour/ansi
../../go/pkg/mod/github.com/charmbracelet/glamour@v0.2.0/ansi/renderer.go:75:15: undefined: "github.com/yuin/goldmark/extension/ast".KindFootnoteBackLink

➜  jira_go go version

[2021-04-09 07:13] ankitpokhrel commented on #84
Hi @ewag,

Thank you for reporting. This is because one of the dependencies [broke backwards compatibility](https://github.com/charmbracelet/glamour/pull/103) and unfortunately `go get` doesn't honor [`replace` directive in `go.mod`](https://github.com/ankitpokhrel/jira-cli/blob/master/go.mod#L41). I will bump the [glamour](https://github.com/charmbracelet/glamour) version once its available. For

[2021-04-09 16:28] #84 closed

[2021-04-09 16:29] ankitpokhrel commented on #84
@ewag installation should work now!

[2021-05-14 17:24] jakdept opened #95 "enable `--debug` flag for `init`?"
So, I just spent some time trying to set this up and had some difficulty, apparently my API token was no good.

However, the `--debug` flag exists globally, but it specifically looks to not do a lot for the `init` subcommand. I would expect `jira init --debug` to give some useful output.

I got as far as:
`generator.go` line 170 changing that to:
[code]

But then I did not see that debug output re

[2021-05-14 17:56] ankitpokhrel commented on #95
@jakdept `--debug` is a [PersistentFlag](https://github.com/spf13/cobra#persistent-flags) so you need to bind it first and that is missing [in root.go](https://github.com/ankitpokhrel/jira-cli/blob/master/internal/cmd/root/root.go#L92).

I still need to make error message bit meaningful for end users but this addition would be great for now. I am open to PR :)

[2021-05-15 14:05] #95 closed

[2021-05-20 12:00] gennaro-tedesco opened #98 "add navigation commands in --help"
I have been trying out and using `jira-cli`: it is awesome!

I have noticed that the `--help` does not list the navigation commands as per [here](https://github.com/ankitpokhrel/jira-cli#navigation): do you think it is useful to add them to the help, so that users do not have to come to the GitHub url in case they forget (I find myself using `c` and `CTRL+K` often but I forget which is which)?

[2021-05-21 16:26] gennaro-tedesco opened #99 "newline not parsing in markdown"
## Description
When writing the body of a ticket I have noticed that newlines do not parse as such. In particular

1. carriage return (just leaving a physical new line between paragraphs) does not insert a new line (the text is still attached in-line)
2. `\n` or `\r` characters are interpreted and inserted verbatim

## Terminal
I am using neovim on iterm2 - if that matters - to edit the body text

[2021-05-21 16:41] ankitpokhrel commented on #99
I can reproduce same issue with `vim`. Thank you for reporting!

[2021-05-21 16:50] ankitpokhrel commented on #98
I don't want to make `help` too bloated since the navigation list can grow in the future. What we can do however is put some common navigation commands and add a link to GitHub readme for more details.

Navigation information is available in some commands like `jira sprint list` and `jira epic list` at the moment.

<img width="1101" alt="Screenshot 2021-05-21 at 18 44 42" src="https://user-images.

[2021-05-21 17:00] ankitpokhrel commented on #99
As a quick workaround you can use backslash for new lines `\`.

eg:
[code]

[2021-05-21 17:46] gennaro-tedesco commented on #98
You're right, that would be the preferred option. Good enough though that they are available already in `jira epic list` or so!

[2021-05-21 17:46] #98 closed

[2021-05-21 17:47] gennaro-tedesco commented on #99
Thank you for looking into it! The backslash `\` seems to be working fine for the moment.

[2021-06-04 09:35] gennaro-tedesco opened #105 "jira issue view not showing comments"
Apologies for opening so many issues (I am just using the tool a lot!). I have noticed that `jira issue view <ticker-nr>` does not by default parse comments text. Is this intended behaviour or did I miss the documentation explaining how to visualise comments?

Likewise using `jira issue comment` lets you submit a comment but does not display the comments section either.

[2021-06-06 03:06] ankitpokhrel commented on #105
Hi @gennaro-tedesco, this feature is on the to-do list and yet to be implemented. I will work on it as soon as I get some time.

Glad to know that the tool is helpful for you. Also, bug reports and PRs are welcome :)

[2021-06-06 09:52] gennaro-tedesco commented on #105
Thank you, I did start having a look at the code and hopefully I will be able to help with it a little! :)

[2021-06-20 03:13] #99 closed

[2021-07-30 13:18] Poil opened #118 "Install failed"
Hi,

I've got this error when trying to install

[code]

Installing after installing blackfriday v2 works
[code]

Best regards,

[2021-08-04 20:53] ankitpokhrel commented on #118
Hi @Poil I am not able to reproduce the issue. I tried with go1.13 (and above) and the installation seems to be working fine. Could you please provide more context?

[2021-08-22 18:54] ankitpokhrel opened #121 "Upgrade rivo/tview to the latest version"
Waiting for https://github.com/rivo/tview/issues/624 https://github.com/gdamore/tcell/issues/480

[2021-08-25 09:14] dmncr opened #123 "Ability to log time to an issue"
Could you please also add functionality so time spent can be logged to an issue?

Thanks for putting in the effort to make jira usable ;)

[2021-09-08 09:55] dja-fr commented on #118
Hello,

Same here :

[code]

My environnement

- windows
- go version 1.15.7

Could be related to : https://github.com/russross/blackfriday/issues/500 ?

[2021-09-08 12:50] cedws opened #132 "Tracking issue for self-hosted support"
Ah, I was so excited to be able to escape the horrific Jira UI, but alas I see this project doesn't support self-hosted instances. 😢

Not sure what the API differences are but maybe I can lend a hand.

How about a tracking issue?

[2021-09-08 17:04] nschmeller opened #133 "401 Unauthorized when accessing account on Ubuntu 20.04 with ssh"
Hi! I love this project, it's the solution I never knew I needed.

The CLI isn't working for me, and I suspect because it's because my company account only allows us to sign in with Okta.

Steps I followed:
* Installed the binary on my dev environment using the `go get` option
* Created a JIRA API key and set it as an environment variable
* Ran `jira init`
  * Typed in the URL of my company's (clo

[2021-09-08 17:19] ankitpokhrel commented on #133
Hi @nschmeller,

Glad to know that you like the project :)

Did you set the token `JIRA_API_TOKEN` (and is it available in the shell?) before running `jira init`? You should be able to get the token from [this link](https://id.atlassian.com/manage-profile/security/api-tokens).

[2021-09-08 17:21] nschmeller commented on #133
I think I did, yes!

I added it to my .zshrc and `source`d it. I get the following output:
[code]
where the Xs are the token I remember putting in there.

[2021-09-08 17:32] ankitpokhrel commented on #133
Can you check if you are able to get response from Jira using your token?

[code]

Also to double check: is this a on-premise Jira installation or a Jira cloud?

[2021-09-08 17:37] nschmeller commented on #133
Yup, I get a response that has a bunch of correct, nontrivial info in it!

This is Jira cloud.

[2021-09-08 17:45] ankitpokhrel commented on #133
That's strange because the tool calls same endpoint to verify the token. Are you sure your host url and email is correctly configured with no accidental special character or spaces? 🤔

[2021-09-08 18:10] nschmeller commented on #133
Very strange! I triple checked that I was typing in the server and email correctly, in the form `https://<company name>.atlassian.net` for server. I also double checked that the email I typed in matched what I see at https://id.atlassian.com/manage-profile/email.

I think it's some issue with my platform or setup that's doing weird things to text. This is on an Ubuntu 20.04 instance that I'm sshin

[2021-09-11 08:54] ankitpokhrel commented on #132
Hi @cedws, thank you for opening the tracking issue.

First thing we need to do is to figure out which of the current features already works in the local installation. I think some of the features should just work with little to no modifications. Once we have the list of possible issues we need to fix, we can visit them one by one.

To start with this first step, we need to make the `jira init` co

[2021-09-11 11:56] ankitpokhrel commented on #132
I did some tests locally in Jira Software v8.17.1. [This PR](https://github.com/ankitpokhrel/jira-cli/pull/136) will allow us to generate config for both Cloud and Local installations.

I realized that v8.17.1 doesn't support [Jira API v3](https://developer.atlassian.com/cloud/jira/platform/rest/v3/intro/). Features that depend on v1/v2 version of the API seem to be working fine. If the same data

[2021-09-11 17:49] ankitpokhrel opened #138 "Support self-hosted Jira installation"
This issue tracks the progress of support for on-premise jira installation.

#### Current Status

- [x] Issue
    - [x] [List](https://github.com/ankitpokhrel/jira-cli#list) https://github.com/ankitpokhrel/jira-cli/pull/140
        - [x] View (by pressing `v` from the tui) https://github.com/ankitpokhrel/jira-cli/pull/149
    - [x] [Create](https://github.com/ankitpokhrel/jira-cli#create)
    - [x

[2021-09-11 17:50] ankitpokhrel commented on #132
Closing in favor of #138

[2021-09-11 17:50] #132 closed

[2021-09-14 18:23] ecksun opened #143 "Ability to list issues in several projects"
I would like to list issues spanning multiple projects, for example corresponding to this JQL query:

    project in (APP, WEB, AI) AND labels in (backend)

Perhaps by providing a comma separated list to `--project`?

[2021-09-14 19:29] ankitpokhrel commented on #143
@ecksun Right now we are binding JQL to a single project context. I think it will be better to provide a way to execute any valid JQL. Since project is a required field what we can do is:
- Check if `project` key exist in provided JQL
- If yes, we will use the query as is
- If not, we will append currently configured project to the query

It should then allow you to use any query combination.

[2021-09-14 21:02] ecksun commented on #143
Ah, so that would mean that this would NOT be possible:

    jira issue list --label backend --project APP,WEB,AI

but

    jira issue list --jql 'project in (APP, WEB, AI) AND labels in (backend)'

would?

That works, not as convenient but JQL is not that bad to write

[2021-10-06 21:54] bluejellybean commented on #105
I'm just starting to check out this codebase (and LOVING the entire project!), but my go skills are a bit lacking. Has there been any progress or movement on this card issue??

[2021-10-15 09:25] anatoly-scherbakov opened #162 "Cursor in terminal disappears after tried to search by status incorrectly"
**Describe the bug**

Illustrated on the recording:

![Peek 2021-10-15 16-21-cursor](https://user-images.githubusercontent.com/2282888/137464686-e34d2a34-c9c7-40e5-8dba-f819876517f4.gif)

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server?
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal

[2021-10-15 09:50] ankitpokhrel commented on #162
Thanks for opening the issue @anatoly-scherbakov, recording was quite helpful to understand the issue.

I can reproduce the issue in my system too (macOS with iterm2 and zsh) and I think I know what's happening. I will possibly work on the fix this weekend.

[2021-10-16 07:57] #162 closed, assigned to nobody

[2021-10-16 07:58] ankitpokhrel commented on #162
The issue should be fixed by #163. Please feel free to comment or open a new issue in case this is still not working for you.

[2021-10-26 13:35] realtime-neil opened #168 "feature request: jira issue sprint"
**Is your feature request related to a problem? Please describe.**
I have sprints. I have issues. I would like a way to associate the latter with the former.

**Describe the solution you'd like**
`jira issue sprint ISSUE-KEY SPRINT`

**Describe alternatives you've considered**
Using a web browser, but that sucks because Jira web pages suck.

**Additional context**
I don't know how common the "Spri

[2021-10-29 20:24] #138 closed

[2021-10-31 09:47] ankitpokhrel commented on #168
If I get it right, you want to assign sprint to an issue. It's something that is on my radar and hopefully will work on it soon. I am currently doing it from the UI as well.

[2021-11-01 16:46] DannyJJK opened #173 "jira init fails when selecting default board for on-premise install"
**Describe the bug**
I ran `jira init` to connect to my JIRA on-premise server, however after selecting the default board, the program panicked.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server?
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code

[2021-11-01 16:56] ankitpokhrel commented on #173
Hi @DannyJJK

Thank you for reporting the issue. It looks like it failed when setting the custom field for `epic`. Is the epic disabled in your instance?

[2021-11-01 17:00] DannyJJK commented on #173
I can select Epic from the Issue Type list on this board when creating a new issue, so I believe it is enabled, at least for this board.

[2021-11-01 17:39] ankitpokhrel commented on #173
Is it possible for you to execute the curl command below and check what you get in some part of the output?

[code]

Inside `issuetypes` key there should be an entry with `"name": "Epic Name",` in `fields`. What do you get in that section?

Also, could you please mention the jira version of your instance?

[2021-11-02 09:57] DannyJJK commented on #173
Version:
Atlassian JIRA Project Management Software (v7.7.0#77001-sha1:3be3151)

Here is the "Epic" entry inside the `issuetypes` key. I've copied up to the end point of the `fields` section for this issue type:

[code]

[2021-11-02 21:33] ankitpokhrel commented on #173
Just checked and the way epic is linked in Jira v7 seems bit different than v8. I will work on the fix to support v7.

[2021-11-02 22:37] ankitpokhrel commented on #173
This is possibly fixed with #174. Could you please confirm by installing binary from `HEAD`? (requires `make`, `git` and `go`)

[code]

[2021-11-03 09:41] DannyJJK commented on #173
After installing the binary from `HEAD` this now works correctly. After the "Creating new configuration...", it now correctly generates the config file and shows me where it's located.

[2021-11-03 09:41] #173 closed

[2021-11-05 15:56] realtime-neil commented on #168
@ankitpokhrel yes, you understand perfectly. Thank you for taking the time to think about this; I do appreciate it.

[2021-11-06 09:21] #121 closed

[2021-11-06 16:14] #105 closed

[2021-11-06 16:15] #123 closed

[2021-11-06 16:15] #143 closed

[2021-11-06 16:15] #168 closed

[2021-11-07 09:49] ankitpokhrel opened #184 "📣 All feature requests will be moved to discussions"
Please [open a discussion](https://github.com/ankitpokhrel/jira-cli/discussions/categories/ideas) in `ideas` category for the feature request. Please check if the request for the feature is already [there](https://github.com/ankitpokhrel/jira-cli/discussions/categories/ideas) before opening a new one.  Your feature request is mostly prioritized based on the number of votes, so make sure to vote fo

[2021-11-07 20:58] ankitpokhrel opened #186 "Epic add fails in next-gen project"
### Discussed in https://github.com/ankitpokhrel/jira-cli/discussions/185

<div type='discussions-op-text'>

<sup>Originally posted by **winslowb** November  7, 2021</sup>
Hi,

I'm trying to view issues in an epic. I receive and error that I need to edit the issue and assign a parent but I've not been able to successfully add the issue to the epic.

I've tried to
* jira epic add GPE-134 GPE-171 (1

[2021-11-08 15:36] realtime-neil opened #187 "without `tty`, `jira issue list` produces no output and hangs"
**Describe the bug**
Without a pseudoterminal, `jira issue list` hangs and produces (almost) no output.

**Please provide following details**
1. JiraCLI Version: `0.1.1`, installed via `go install  github.com/ankitpokhrel/jira-cli/cmd/jira@v0.1.1`
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
    No.
3. What operating system are

[2021-11-08 15:42] cazador481 opened #188 "Pick up the password/passkey from the .netrc file"
Instead of having to put the passkey into an ENV variable, and store it in my dot files, can we pick also pick it up from the .netrc file?   I have a number of other tools that uses the .netrc file to store the jira keys and it would be a plus to have everything use the same location.

[2021-11-08 21:05] ankitpokhrel commented on #187
@realtime-neil not that I am against it but for me to understand better: is not having this fallback blocking you from doing something?

[2021-11-09 21:28] realtime-neil commented on #187
@ankitpokhrel this is not blocking anything. There is a work-around; i.e., pass `--plain` when executing `jira` without a `tty`.

This functionality to detect whether stdin and/or stout is however, present in a _lot_ of command line tools. For your consideration:
* GNU tar: `tar: Refusing to write archive contents to terminal (missing -f option?)`
* docker: `the input device is not a TTY`
* GNU sc

[2021-11-16 10:19] h0adp0re opened #198 "Assigning issue to self doesn't assign it"
**Describe the bug**

Running the following command doesn't assign the issue to me, instead the user search opens up, in which I'm unfindable as well.
[code]
**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.

[2021-11-16 10:43] h0adp0re opened #199 "Segfault upon viewing issue from explorer"
**Describe the bug**

Opening the issue explorer with the following command, then pressing `v` on an issue, brings up a segmentation violation.
[code]
**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]

[2021-11-16 11:07] ankitpokhrel commented on #199
The problem is that the tui assumes `key` is always in second column while rendering. Since you changed the order of the key it panicked (which it shouldn't). I will see what I can do here. Thank you for reporting the issue.

This should work in your case.
[code]

[2021-11-16 11:10] h0adp0re commented on #199
Hmm, that explains it, yes. However having anything other than `key` in the first column is impractical for me, since that's the sticky column. The issue key is the most important bit of info for me in this context.

I appreciate the speedy reaction and explanation though, thanks!

[2021-11-16 11:28] ankitpokhrel commented on #198
I am not able to reproduce this but this can happen in 2 cases.
1. You have 2 users with the similar email/username and the tool cannot decide which one to use so it opens user search.
2. The user you are trying to assign is not assignable to the project. Are you able to assign this user from the UI? Alternatively, you can also check if the JiraAPI returns you this user as an assignable user.
[cod

[2021-11-16 11:36] ankitpokhrel commented on #188
Hi @cazador481, I don't use `.netrc` so the chances of me implementing this anytime soon are quite low. However, if someone can send a PR (and maintain this part of the feature), I would be happy to review and get it merged.

[2021-11-16 12:10] h0adp0re commented on #198
I am able to assign issues to myself via the UI, yes.
The command you suggested only returns users up to the letter `C`. We have very many employees and I see only a fraction of them in the response there.

This doesn't work in the same way.

[2021-11-16 13:18] ankitpokhrel commented on #198
Just checked on a setup with 2000+ users (jira cloud), still cannot reproduce the issue :/

You can narrow the search using `query` parameter. For example:
[code]

Also, does it work if you provide your name as displayed in JIra instead of doing `$(jira me)`? For instance:

[code]

The search returns entries matching the keyword at the top of the list. Like in the screenshot below I am searching f

[2021-11-16 14:53] h0adp0re commented on #198
The output is the same as before.

Nope, same result.

Doesn't work like that for me. Even after supplying a keyword, the names in the "results" list remain unchanged. No filtering of any kind happens. Even when I type in the first name I see in the list.

Well, I don't know what to do here. I'm keeping my name private so sadly I won't be posting any visuals either.

[2021-11-16 16:15] ankitpokhrel commented on #186
@winslowb This is possibly fixed with changes. Could you please confirm by installing binary from `HEAD`? (requires `make`, `git` and `go`)

[code]

I will make a new release in few days.

[2021-11-16 20:13] #199 closed

[2021-11-16 20:16] ankitpokhrel commented on #199
@h0adp0re This is fixed with #202. I will make a new release in a few days.

If you want to try the fix, you can [compile from source](https://github.com/ankitpokhrel/jira-cli#development) or if you are using homebrew you can build binary from `HEAD` (requires `make`, `git` and `go`)

[code]

[2021-11-16 22:23] h0adp0re commented on #199
It works! Thank you!

[2021-11-17 14:15] h0adp0re commented on #199
@ankitpokhrel I've now discovered that this fix creates another small issue. `^ + K` copies the second column to the clipboard. In my case it's issue type, which isn't useful.

[2021-11-17 15:05] ankitpokhrel commented on #199
Crap! I will check it later today. Thank you for reporting!

[2021-11-17 17:59] ankitpokhrel commented on #199
@h0adp0re this should be fixed in #204

[2021-11-17 18:04] h0adp0re commented on #199
It is! Thank you again!

[2021-11-19 14:41] realtime-neil opened #207 "jira sprint list: `--plain` has no effect"
**Describe the bug**
`jira sprint list --plain` fails to display output in plain mode

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**

[2021-11-19 17:57] ankitpokhrel commented on #207
@realtime-neil  `jira sprint list` loads preview ui by default and this section is not designed to handle `--plain` output.

If you wish to get a list of sprints in a non tty mode then you will explicitly need to load this list in `table` ui and use the plain option. For example, the command below should work.

[code]

If you wish to load issues in a sprint in plain mode, you can do the following.

[2021-11-19 18:06] realtime-neil commented on #207
@ankitpokhrel whoops, I must missed the `--table` option in the `--help` message. Sorry about that.

Still, though, if this isn't a bug, then it's at least an annoyance. If the user doesn't remember to pass the `--table` option, then `jira` assumes that the `tty` exists --- even when the `tty` clearly _doesn't_ exist. In that regard, this issue is similar to #187.

[2021-11-19 20:05] ankitpokhrel commented on #207
I agree that it's a bit of an annoyance. I will see how I can improve that part.

I will close this issue for now since we already have #187 open.

[2021-11-19 20:05] #207 closed

[2021-11-20 09:45] ankitpokhrel commented on #186
Fix is available in [v0.2.0](https://github.com/ankitpokhrel/jira-cli/releases/tag/v0.2.0)

[2021-11-20 09:45] #186 closed

[2021-11-23 15:27] realtime-neil opened #210 "jira issue list: 400 Bad Request"
**Describe the bug**
[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reproduce the behavior:
[code]

*

[2021-11-23 15:48] realtime-neil commented on #187
@ankitpokhrel How do you feel about the following proposals:

* `--plain` should always force output to `stdout`
* `--plain` should never attempt to acquire a `tty`
* if `--plain` is not given, then `jira` should acquire a `tty` if and only if such a `tty` exists

[2021-11-23 15:55] realtime-neil opened #211 "jira issue edit --status"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like the ability to edit the status of an issue; e.g.,
[code]

**Describe alternatives you've considered**
I have considered the atlassian web page. The atlassian web page sucks.

**Additional context**
Not applicable.

[2021-11-23 15:55] realtime-neil commented on #211
@ankitpokhrel how do I move this to the "ideas" category?

[2021-11-23 17:13] ankitpokhrel commented on #210
@realtime-neil v0.2.0 has some BC incompatible change in the config so you need to re-generate the config as mentioned in [the changelog](https://github.com/ankitpokhrel/jira-cli/releases/tag/v0.2.0).

You can use `jira init` to re-generate the config.

[2021-11-23 17:14] #211 closed

[2021-11-23 17:21] realtime-neil opened #213 "jira issue view does not respect locale"
**Describe the bug**
`jira issue view` prints non-ascii characters forbidden by the current locale.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention versi

[2021-11-23 17:24] realtime-neil commented on #210
That fixed it. What kind of configuration upgrading strategy do you have? As a minor bump (from `0.1.*` to `0.2.*`), my `0.1.*` configuration should have been supported.

[2021-11-23 17:34] ankitpokhrel commented on #210
Its usually [semver](https://semver.org/), `x.y.z`. Since the tool is not yet considered complete, there might be a breaking change for each bump in `y` until it reaches `1.*`.

[2021-11-23 17:37] realtime-neil commented on #210
@ankitpokhrel point taken. I'll wait until you hit 1.0.0 before I start bothering you about breaking changes in the config file format. :smile:

[2021-11-23 17:37] #210 closed

[2021-11-23 17:52] ankitpokhrel commented on #213
@realtime-neil Is it only the emojis in plain mode that you want to get rid of? Or, are you expecting something else with `LC_ALL=C` opt? I am not sure how other tools behave in similar case.

[2021-11-23 18:18] realtime-neil commented on #213
@ankitpokhrel here's decent explanation about which characters are "allowed" by the `C` locale:

-- https://unix.stackexchange.com/questions/87745/what-does-lc-all-c-do/87763#87763 , emphasis mine

tldr; print non-ascii characters if and only if the current locale supports it

If you want to print Emoji, then you should probably first check that the current locale's codeset supports it. E.g., `en_

[2021-11-23 21:01] ankitpokhrel commented on #213
Thanks for the details @realtime-neil, that was helpful! I will fix it in the next iteration.

[2021-11-24 12:38] infomiho commented on #133
I've added the JIRA_API_TOKEN to my .zshrc on my MacOS device but it didn't work.
I've added it like this
[code]
Then I got the same error as the original issue. But it worked with cURL.

But worked in the end was adding it like this:
[code]

[2021-11-26 02:30] amgohan opened #214 "Possibility to use username/password as ENV variables instead of JIRA_API_TOKEN"
**Is your feature request related to a problem? Please describe.**
I can't use the jira-cli, I have only a username/password and can't generate an API token myself.

**Describe the solution you'd like**
The possibility to support a JIRA_USERNAME/JIRA_PASSWORD as ENV variables instead of JIRA_API_TOKEN

[2021-11-26 07:01] ankitpokhrel commented on #214
@amgohan if you are using on-premise installation, you can add password in `JIRA_API_TOKEN` env and use the username when initializing the config with `jira init`. For cloud installation, the recommended way is to use the API token.

[2021-11-29 11:09] abbi1229 opened #215 "Unable to generate configuration when jira init."
1. Version:
[code]
2. Steps
[code]
3. Debug
[code]
    Jira server return:
[code]
The message returned by the jira server is expected?
Or is there any suggested way to solve it?
Thanks!

[2021-11-29 12:35] ankitpokhrel commented on #215
Hi @abbi1229, it looks like you don't have any `board` in a project. Is it so?

[2021-11-29 16:45] amgohan commented on #214
thanks it works.

[2021-11-29 16:45] #214 closed

[2021-11-30 02:22] abbi1229 commented on #215
Hi @ankitpokhrel
No, We don't have any ``Board`` in a project.
I tried to create a ``Board`` but I don’t have permission.  😭
Our team is used to using ``DashBoard`` or just open ``Project`` then filter the issue.
Is it possible that jira-cli works without a ``Board`` ?

[2021-11-30 13:45] joelyjoel commented on #133
I'm getting a similar issue. When I do

[code]

with my email and host I get:
[code]

[2021-11-30 13:52] joelyjoel commented on #133
Update: This issue was resolved when I switched my shell from fish to zsh

[2021-12-01 06:48] abbi1229 commented on #215
Hi @ankitpokhrel,
Our project was created with ``Bug tracking`` of project template.
https://www.atlassian.com/software/jira/features/bug-tracking
Not a ``Kanban`` or ``Scrum``.
So there will not have a ``Board`` in default.
Could jira-cli support this type of project template?

[2021-12-02 18:21] #215 closed

[2021-12-02 18:25] ankitpokhrel commented on #215
@abbi1229 You can now select `None` for empty boards and rest of the things should just work.

<img width="241" alt="Screen Shot 2021-12-02 at 7 22 01 PM" src="https://user-images.githubusercontent.com/2364546/144480692-33c1f04d-c837-4026-94ba-c28aef1a0a49.png">

The change will be available in the next release.

For now, if you wish to use this feature, you can either [compile from source](https:

[2021-12-07 09:58] abbi1229 opened #221 "fatal error: runtime: out of memory"
1. Version:
[code]
2. Steps
[code]
3. Debug
[code]

Some of tickets can't open by using "view".
I'm not sure what issue will triggered this.
The content looks normal.

[2021-12-07 22:02] ankitpokhrel commented on #221
Hi @abbi1229 from the stack trace I see that this could be an issue with [wiki parser](https://github.com/ankitpokhrel/jira-cli/blob/main/pkg/md/jirawiki/parser.go). However, I am not able to reproduce this in the setup I currently have.

It would be great if you can provide more details on what kind of contents you are using in the description eg: lists, table, links etc. A sample description mig

[2021-12-08 03:02] abbi1229 commented on #221
Hi @ankitpokhrel,
I made some experiments.
The key is about **{noformat}**.
This is the easiest way to reproduce the issue.
[code]
**Can't reproduce**:
The following conditions works fine.
[code]
[code]
[code]

Our jira version is v8.13.11, on-premise.
I had tried to reproduce this on cloud JIRA.
But, This issue can't reproduce by using cloud JIRA.

[2021-12-08 14:40] gennaro-tedesco commented on #198
I am seeing a similar behaviour myself too, in particular with some users that I do find via web interface but that do not show up in the list of possible users to assign to a ticket. Is it possible that the results of the API calls to JIRA are paginated and accidentally some users are being cut off from the pages (I have seen it happen with random users of different projects, so I could not deriv

[2021-12-08 14:44] gennaro-tedesco opened #223 "jira epic list --plain"
**Describe the bug**

[code]
hangs indefinitely.

**Please provide following details**
1. JiraCLI Version:

[code]

3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. `jira epic list`
2. pipe the above into grep
3. See error

**Expected behavior**
Is `jira epic list

[2021-12-08 14:59] ankitpokhrel commented on #223
@gennaro-tedesco `jira epic list` loads preview ui by default and this section is not designed to handle `--plain` output.

If you wish to get a list of epics in a non tty mode then you will explicitly need to load this list in `table` ui and use the plain option. For example, the command below should work.

[code]

If you wish to load issues in an epic in plain mode, you can do the following.

[c

[2021-12-08 15:24] gennaro-tedesco commented on #223
Thank you very much `jira epic list --table --plain` works just fine and I am going to use this one to grep for titles.

However, strangely enough
[code]
returns the error (after I specify my EPIC-KEY)
[code]
Interestingly, this is the same error that I am now getting when I want to add issues to the epics (using `jira epic add`): probably the jira API that you are calling changed their specific f

[2021-12-08 18:46] ankitpokhrel commented on #223
@gennaro-tedesco The way epics are handled is changed in `next-gen` project and is not backwards compatible with `classic` projects. The support for `next-gen` project was added in [v0.2.0](https://github.com/ankitpokhrel/jira-cli/releases/tag/v0.2.0). It looks like you've compiled the tool from source so I cannot tell if you are using latest build or the old one. Please try with the latest source

[2021-12-08 19:17] gennaro-tedesco commented on #223
I have re-installed via `brew install jira-cli --HEAD`, I will try to compile from source to get the latest and report back on whether it works.

Likewise, if I get most shortcuts and functions working for the boards, issues and epics I will share the cheatsheet I am using so that you can have a look.

[2021-12-08 19:37] ankitpokhrel commented on #221
@abbi1229 Thank you for the details. I would not have been able to reproduce this otherwise.

Please try with new build and let me know how it goes. Since the release is not yet available, you can either [compile from source](https://github.com/ankitpokhrel/jira-cli#development) or if you are using homebrew you can build binary from `HEAD` (requires `make`, `git` and `go`)

[code]

[2021-12-08 19:47] ankitpokhrel commented on #198
@gennaro-tedesco Yes the results are paginated and the tool fetches 100 results by default. There is a search feature to narrow down the results. Can you try steps mentioned in [the comment above](https://github.com/ankitpokhrel/jira-cli/issues/198#issuecomment-970265916) and see if you notice anything useful? Or, is there anything special about the users that are not showing up 🤔? Unfortunately,

[2021-12-08 21:30] gennaro-tedesco commented on #223
Explicitly installing v0.2.0 solved the problem and now I can correctly visualise new generation projects (likewise after re-generating the config file I can correctly query everything). For completeness I am now on
[code]

[2021-12-08 21:30] #223 closed

[2021-12-09 04:56] HyHyena opened #225 "Unexpected response '404 Not Found' from jira."
Hey. I am really looking forward to use your program but got stuck on the init phase. Is it because of the oldness of my company's jira version or something else?

1. JiraCLI Version:
0.2.0
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
on-premise 6.2.1
3. What operating system are you using? Also mention version.
manjaro kernel version

[2021-12-09 07:44] ankitpokhrel commented on #225
@HyHyena Looks like you are using a project without board. This was fixed in #216. But the build is not yet available.

If you wish to use this fix for now, you can either [compile from source](https://github.com/ankitpokhrel/jira-cli#development) or if you are using homebrew you can build binary from `HEAD` (requires `make`, `git` and `go`)

[code]

Let me know if you still have problem with the

[2021-12-09 08:28] gennaro-tedesco commented on #198
So, strangely enough I have observed the following: let us assume we cannot find user X and that such user _is assignable to the project_ via JIRA UI.

- by querying the API directly via `curl` I do not get user X as available
- by replicating everything in the shoes of user X (namely user X uses your application with their own credentials) they _are_ available in the list of assignable users

so

[2021-12-09 14:36] HyHyena commented on #225
Unfortunately that didn't help and I am still getting this error. Thanks for the fast feedback, I'll go find another job to use this tool :)

[2021-12-09 18:39] ankitpokhrel commented on #225
I wonder why it didn't work for you with the new build but I cannot help much unless you can give me further details. Finding another job sounds like a good idea tho 😄

Please feel free to comment here or create a new issue if you find any details that could help figure out the issue.

[2021-12-13 07:20] abbi1229 commented on #221
Hi @ankitpokhrel ,
Now it works perfectly.
Thanks.

[2021-12-14 16:45] tstrijdhorst opened #228 "JSON Output"
Really glad I found this project! Allows me to do many things very quickly.

I am creating a small CLI app that uses this app to automate some parts of my flow and it would really help if there was an option to display the output in json format. Now I am parsing the `--plain` which works but doesn't feel the most stable.

[2021-12-15 14:37] pstryk opened #229 "JIRA_API_TOKEN and Authorization: Bearer"
Hi,
my curl works ok with **Authorization: Bearer** header. Example:
`curl -X GET -H "Authorization: Bearer xxx" \
-H "Content-Type: application/json" \
"https://jira.url.com/rest/api/2/user/properties?username=some_user"`

But when I do **jira init** I get 401.

My JIRA_API_TOKEN is stored in .zshrc with:
`export JIRA_API_TOKEN=xxx`

[2021-12-15 15:17] realtime-neil opened #230 "fix usage: jira issue comment add"
**Describe the bug**
The `COMMENT_BODY` is documented as a mandatory positional argument even though it's not.

**Please provide following details**
1. JiraCLI Version:
[code]

2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]

3. What operating system are you using? Also mention version.
[code]

4. What terminal are you using? Also

[2021-12-15 16:58] realtime-neil commented on #230
Addendum:

`jira issue comment add` tolerates the following undocumented orderings of options and positional arguments:

[code]

The usage should be changed to reflect these supported orderings or the implementation should be changed to reject them.

[2021-12-16 10:01] danmichaelo opened #231 "`jira issue create` fails for classic project"
**Describe the bug**

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

The err

[2021-12-16 10:45] ankitpokhrel commented on #231
Hi @danmichaelo does this happen with all issue type in `classic` project or just this specific one?

[2021-12-16 19:56] danmichaelo commented on #231
Hi @ankitpokhrel , here's a summary:

* `Historie` actually works 😲
* `Oppgave` fails with `issuetype: Sakstypen valgt er ugyldig.`
* `Deloppgave` requires a parent task, so I didn't try that.
* `Feil` fails with `issuetype: Sakstypen valgt er ugyldig.`
*  `Epos` fails for another reason `customfield_10011: Epic Name kreves.`, which I could probably fix by specifying that customfield manually.

[2021-12-17 06:02] heiba commented on #229
Same here, I'm getting the same issue

[2021-12-17 06:04] heiba commented on #229
Adding export JIRA_API_TOKEN=xxx fixed it for me
https://github.com/ankitpokhrel/jira-cli/issues/133#issuecomment-977839749

[2021-12-17 17:36] 1enny commented on #229
Your example works because you use `Authorization: Bearer `
Looks like `jira-cli` currently uses `Authorization: Basic `  https://github.com/ankitpokhrel/jira-cli/blob/e229260dcdf04b855555feac7ba063bac3795257/pkg/jira/client.go#L225

[2021-12-17 22:18] #225 closed

[2021-12-19 10:31] ankitpokhrel commented on #228
@tstrijdhorst this CLI tool is created for a different purpose and adding json output would just complicate things. If you want a json output you can use tools like [httpie](https://github.com/httpie/httpie) or [curl](https://github.com/curl/curl) to call [the API](https://developer.atlassian.com/cloud/jira/platform/rest/v3/intro/) directly for a json response.

[code]

[2021-12-19 10:41] ankitpokhrel commented on #229
Yes, the tool is using a basic auth as @1enny pointed out. But, as long as `JIRA_API_TOKEN` is available in the shell, I think it should not be a problem.

@pstryk do you get a valid response if you pass `--user` option instead of a `Bearer` token like in the example below?

[code]

[2021-12-19 10:58] ankitpokhrel commented on #230
@realtime-neil you are still passing `COMMENT_BODY` here as a template. Jira API doesn't allow you to add a comment without body (it won't make any sense to add a comment without body right?). The [README](https://github.com/ankitpokhrel/jira-cli#add) mentions few different ways to get comment body for the command.

[code]

Regarding your query about undocumented orderings, the flags are [POSIX-co

[2021-12-19 16:03] realtime-neil commented on #230
@ankitpokhrel

Yes, the README does mention the various ways to effect an issue comment. The `jira issue comment add` usage does not. In conventional usage verbiage

[code]

connotes a command that takes some arbitrary options (or none at all) and exactly one positional argument, customarily given after all (any) `OPTARG`s. Compare/contrast this with

[code]

which connotes exactly one _optional_

[2021-12-19 16:18] realtime-neil commented on #230
@ankitpokhrel

This remark deserves some qualification. The presentation and ordering of the `OPTARG`s and positional arguments can be arbitrary, but only after the complete sub-sub-sub-command. That is,

[code]

is valid, but

[code]

is not --- even though `add` is the only sub-sub-sub-command under the `jira issue comment` sub-sub-command.

[2021-12-20 20:14] kharthigeyan opened #233 "--plain not working as expected"
**Describe the bug**
Command: `jira issue list -a$(jira me) --plain`
The following text is offsetting the text output.
"⠧ Fetching issues..."

**Please provide following details**
1. JiraCLI Version:

[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What

[2021-12-20 20:17] pstryk commented on #229
I got it working with
`--user login:$JIRA_PASSWORD_AS_API_TOKEN`

Case can be closed.

[2021-12-20 20:24] ankitpokhrel commented on #233
Hi @kharthigeyan, you can redirect `stderr` to `/dev/null`

[code]

[2021-12-20 20:28] #229 closed

[2021-12-28 20:51] ankitpokhrel commented on #231
@danmichaelo I was not able to reproduce it _fully_ (the behavior was bit unpredictable in my setup 🤷‍♂️). I made some adjustments based on a hunch though.

Could you please try with new build and let me know how it goes? Since the release is not yet available, you can either [compile from source](https://github.com/ankitpokhrel/jira-cli#development) or if you are using homebrew you can build bina

[2021-12-31 11:20] #233 closed

[2021-12-31 11:26] ankitpokhrel commented on #230
@realtime-neil I updated the docs to reflect our discussion in #235. I hope that's clear enough 🙃

[2021-12-31 11:35] ankitpokhrel commented on #118
I think we don't have this issue when using `go install` which is now a recommended way to install the executables.

From [the docs](https://tip.golang.org/doc/go1.16#modules):

Also, since there are executables available for supported platforms now (see [releases](https://github.com/ankitpokhrel/jira-cli/releases)), installation should not be a problem.

I will close this issue but feel free to c

[2021-12-31 11:35] #118 closed

[2021-12-31 14:06] realtime-neil commented on #233
@ankitpokhrel wouldn't a better solution be to clear the terminal device backing `stderr` once you're done writing status messages to it?

[2021-12-31 14:14] realtime-neil commented on #230
@ankitpokhrel we never had any discussion in #235 . This is unclear and I'm confused.

I'm happy to see that you're maintaining the documentation, but this issue wasn't about documenting anything. It was (and is) about changing the `jira issue comment add` usage (and/or implementation) such that the `--help` message more accurately shows how to invoke the (sub-sub-sub-) command and how arguments t

[2021-12-31 14:29] ankitpokhrel commented on #230
@realtime-neil I just re-read entire thread and realized that `COMMENT_BODY` is not optional in help 🤦🏻. Sorry for the confusion.

[code]

And since this is a really small change, a PR would've been nice :)

[2021-12-31 16:46] realtime-neil commented on #230
I'm happy to oblige. :grin:

[2021-12-31 19:16] #230 closed

[2021-12-31 21:27] realtime-neil opened #237 "edit Makefile: add `clean` target"
**Is your feature request related to a problem? Please describe.**
There is no `clean` target in the `Makefile`.

**Describe the solution you'd like**
A `clean` target in the `Makefile` that supports the deletion of build artifacts from the git worktree. This may require overriding `GOCACHE` such that build artifacts are actually created within the git worktree.

**Describe alternatives you've con

[2022-01-01 09:57] #237 closed

[2022-01-01 16:30] realtime-neil opened #241 "Makefile default target `all` does too much"
**Describe the bug**
The `Makefile` default (first non-special built-in) target `all` depends on the targets `deps`, `lint`, `test`, and `install`. This last one is especially troublesome, as a naive `make` in the worktree will install a freshly built program to `$GOPATH/bin` or `$HOME/go/bin` if `GOPATH` is undefined.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you usi

[2022-01-02 09:09] #241 closed

[2022-01-02 17:24] realtime-neil opened #243 "reproducible builds"
The benefits associated with reproducible builds (and the costs associated with non-reproducible builds) are better explained here:
https://reproducible-builds.org/

tldr; reproducible builds are good and jira-cli would be improved by having reproducible builds.

[2022-01-04 09:20] ankitpokhrel commented on #243
@realtime-neil if you install the binary using `go install`, generated `SourceDate` will be gibberish (example below). It would be nice if we can inject the current date to get an idea of when the build was created. A fair share of users relies on `go install` to install the tool.

[code]

**To reproduce:**
[code]

What I would propose is:
- Add a `BuildDate` which is a date when the build was cre

[2022-01-04 13:33] realtime-neil commented on #243
How do you populate `BuildDate` with `go install` without overriding the `GOFLAGS`?

[2022-01-04 14:07] ankitpokhrel commented on #243
Using current date as default `BuildDate` in `version.go` should do the trick?

[2022-01-04 14:30] realtime-neil commented on #243
@ankitpokhrel do I understand correctly that you want a string literal of the form
[code]
as the "default" value for the `BuildDate` ? And that this value should be changed by a human developer within the content of `internal/version/version.go` immediately prior to a release?

If I understand correctly, then that's easy enough to implement. The hard part is that this creates a "busy work" chore f

[2022-01-04 14:52] realtime-neil commented on #243
@ankitpokhrel also, with this scheme, assuming that a human never assigns a `BuildDate` in the future, this means that the `CommitDate` will always _follow_ the `BuildDate` --- because committing the change must follow the creation of the change.

[2022-01-04 20:09] ankitpokhrel commented on #243
What I meant was, we can construct `BuildDate` in a similar way like we are setting value for `SourceDate`.

![Screen Shot 2022-01-04 at 9 02 59 PM](https://user-images.githubusercontent.com/2364546/148116978-563dac13-c57e-4357-ab2d-f3e09fc381e9.png)

In `Makefile` we can pass build date as such:

[code]

And in `.goreleaser.yml` we can do:

[code]

If any build system like `go install` doesn't pa

[2022-01-04 20:46] realtime-neil commented on #243
@ankitpokhrel what you have described is the antithesis of a reproducible build. Even if you were able to "bake in" the value of the `BuildDate` variable at build time, it would be different for every invocation of `go install ./...` and/or `make install` (ignoring object caching).

To have a reproducible build, you need a one-to-one mapping of source code to built artifact. Values injected from t

[2022-01-04 20:48] realtime-neil commented on #243
Also, the concept of a build date is useless for an artifact that has a reproducible build. A given commit always produces the same artifact, so there's no point in tracking when it was produced.

[2022-01-04 21:40] ankitpokhrel commented on #243
I think we might be talking about different things here. The idea of reproducible build is one thing and figuring out the closest build when someone reports the issue in the tool is another.

When someone who installed an app using `go install` creates an issue, the current version output doesn't give the slightest idea of what the user has installed.

[code]

The idea behind build date is just to

[2022-01-04 22:11] realtime-neil commented on #243
Okay, you're trying to solve the problem where both the `GitCommit` and the `SourceDate` are either unknown or ignored. Okay, yes, agreed, if you want to report a BuildDate in that case, then I can absolutely implement it.

[2022-01-04 23:32] realtime-neil commented on #243
Is this what you want? https://github.com/ankitpokhrel/jira-cli/pull/245

It looks weird to me, but it does seem to fulfill your requirements.

[2022-01-04 23:34] realtime-neil commented on #243
@ankitpokhrel here it is in action:

[code]

[2022-01-05 11:01] seag-rvc commented on #133
I had a similar issue while using Ubuntu 18.04 in WSL2. For some reason adding `JIRA_API_TOKEN` in `$HOME/.bashrc` and then `source $HOME/.bashrc` did not work. Only after issuing `export JIRA_API_TOKEN=XXXXXX` did.

[2022-01-05 15:59] realtime-neil commented on #243
@ankitpokhrel

If you want `go build` and/or `go install` to produce a program with embedded version information, then you need to add that information to source control. For a golang project, this could be implemented as
[code]
or
[code]

This, of course, means that a human needs to bump the version for every release.

[2022-01-05 17:35] theapache64 opened #246 "Create issue with current sprint"
Is this possible with a single command ?

[2022-01-05 18:23] ankitpokhrel commented on #246
@theapache64 Unfortunately not. I don't think Jira allow it in a single API call since sprint is a custom field and not valid for all boards. So, even if we add the functionality to the tool we will still have to use 2 API call internally.

[2022-01-05 18:25] theapache64 commented on #246
@ankitpokhrel Alright. No problem. I can write a bash function. Thanks for making this amazing tool 👍

[2022-01-05 18:25] #246 closed

[2022-01-05 21:19] #243 closed

[2022-01-05 21:20] #228 closed

[2022-01-06 09:44] d-miketa opened #247 "Support password manager for API token"
I'd rather not store my Jira API token in plain text. Would it be possible to add support for standard keyrings and password managers? Many thanks!

[2022-01-06 20:35] ankitpokhrel opened #250 "Change default browser"
### Discussed in https://github.com/ankitpokhrel/jira-cli/discussions/248

<div type='discussions-op-text'>

<sup>Originally posted by **klammbueddel** January  6, 2022</sup>
Great tool, just just stumbled across it and fell in love.

I am using it in WSL. I tried a lot to change the default browser (update-alternatives --config x-www-browser, setting BROWSER variable), but still Google Chrome wit

[2022-01-06 21:06] klammbueddel commented on #250
Thank you so much for your effort! Enjoy your coffee ;)

[2022-01-07 06:39] danmichaelo opened #251 "`make lint` fails with make 3.81"
Just a quick report since I couldn't get it to build:

[code]

using the default `make` on macOs 10.15.7:

[code]

It helped to install a newer make:

[code]

[2022-01-07 07:03] danmichaelo commented on #231
Cool, thanks, @ankitpokhrel  , I tried that:

[code]

but now it panics:

[code]

[2022-01-07 08:10] ankitpokhrel commented on #231
@danmichaelo Sorry I forgot to mention that you need to re-generate the config (`jira init`). Also, could you please try it with the configured project (without `-p`). Using `-p` option might have issue, I first wanted to verify if the change works before looking into other part of the codebase.

[2022-01-07 17:43] danmichaelo commented on #231
Bummer, it helper to re-configure, but then I got the same error from `jira issue create`:

[code]

Let me know if I can collect some more logs somehow!

[2022-01-07 20:50] ankitpokhrel commented on #250
@klammbueddel could you please try with the build from `fix-issue-250` branch and let me know how it goes?

You can either [compile source](https://github.com/ankitpokhrel/jira-cli#development) from the branch or use `go install github.com/ankitpokhrel/jira-cli/cmd/jira@fix-issue-250` to build binary directly from the branch (requires `make`, `git` and `go1.16+`)

[2022-01-07 21:39] klammbueddel commented on #250
Works like a charme 👍
Thank you so much!

[2022-01-08 08:37] #250 closed

[2022-01-08 11:10] ankitpokhrel commented on #231
@danmichaelo Unfortunately I am not able to replicate this in my setup. But looking at your message it seems like the generated config is missing some data. Could you please tell me what is in your config? I think the issue type handle is somehow missing or incorrect in the config generated for your setup.

With correct config data the UI should look like this:

![Screen Shot 2022-01-08 at 12 05 3

[2022-01-10 14:10] dep opened #255 "✗ Unable to generate configuration: Config File "config" Not Found in "[]""
**Describe the bug**
After running `jira init` i receive the following error

[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**T

[2022-01-10 14:12] dep commented on #255
Closing as this worked after using the `Local` configuration option (apologies, misread the instructions).

[2022-01-10 14:12] #255 closed

[2022-01-10 17:22] stobias123 commented on #255
FWIW I just ran into this issue if I had a trailing slash in jira server url

[2022-01-11 20:49] #251 closed

[2022-01-13 10:47] ccmattr commented on #255
Trailing slash was also my issue then I hit this error

[2022-01-13 11:25] ccmattr opened #262 "State paramenter on sprint list doesnt appear to do anything"
**Describe the bug**

When I do the following 3 commands, I get the same output, regardless of what state the issues are in:
[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal a

[2022-01-13 11:29] ccmattr opened #263 "Help text for sprint list defines a static acceptable list of columns that's incorrect"
**Describe the bug**

The help text says the following:
![image](https://user-images.githubusercontent.com/83646278/149322004-f9ac4546-ec05-42a3-b2b3-7e20441c6c7c.png)

However the names aren't accureate to the header names in the output which can be used as valid.
[code]
![image](https://user-images.githubusercontent.com/83646278/149322234-55163a05-edbe-408a-a42f-bb7755d43826.png)

**Please provi

[2022-01-13 18:56] darkvertex opened #264 "Trailing slash in Cloud server url causes " Unable to generate configuration" error"
**Describe the bug**

Doing `jira init` then going with "Cloud" and a URL with a trailing slash (ie `https://company.atlassian.net/`) causes an error:

[code]
then if I do the same but no trailing slash, it works:
[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code

[2022-01-13 20:44] ankitpokhrel commented on #262
@ccmattr The `state` parameter is to filter sprint by its state, not to filter sprint issues. When you do `jira sprint list 99` you are loading issues in the sprint `99` and state doesn't matter in that case. Valid usecase would be:

[code]

[2022-01-13 22:35] jaymzh opened #266 "Doesn't honor default browser"
**Describe the bug**
My system browser (`x-www-browser`) is chrome, but opening a issue pops open a firefox window.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Al

[2022-01-14 08:02] ankitpokhrel commented on #266
Hi @jaymzh, you can override default browser using `JIRA_BROWSER` or `BROWSER` env as described [here](https://github.com/ankitpokhrel/jira-cli/discussions/254).

[2022-01-14 11:39] sconzey opened #267 "Support JIRA Personal Access Tokens"
Rather than putting my JIRA password in an environment variable, JIRA 8.14 supports automatically-expiring [Personal Access Tokens](https://confluence.atlassian.com/enterprise/using-personal-access-tokens-1026032365.html).

You'd need some mechanism to indicate which authentication mechanism to use.

[2022-01-14 11:40] #267 closed

[2022-01-14 11:40] sconzey commented on #267
Apologies, I missed the instruction about where to put feature requests.

[2022-01-14 17:12] jaymzh commented on #266
@ankitpokhrel you are fast!

Thanks, that's a reasonable work around, but I still think it's a bug. There's a way to call the default browser (x-www-browser) and that should probably be `jira-cli`s default. In my case, I switch my default browser depending on whether I'm working on work stuff or other stuff, and I'd prefer everything follow what my default browser is set to, rather than have to up

[2022-01-15 16:01] ankitpokhrel commented on #266
@jaymzh The current flow is something like this:
- The script first looks for `JIRA_BROWSER` and `BROWSER` env and if any of them is set, the browser is invoked directly.
- If none of these env is set, it looks for `xdg-open`, `x-www-browser` and `www-browser` in the given order (for linux).

I wonder if `xdg-open` launches default browser in your system?

[2022-01-15 23:02] jaymzh commented on #266
Oh interesting. Didn't even think of xdg-open for URLs. Yes, that seems to be set to firefox. I'll set my script to both `update-alternatives` *and* `xdg-settings set`. Thanks, and sorry for the not-actual-bug-report.

[2022-01-15 23:02] #266 closed

[2022-01-19 11:17] angristan commented on #264
I don't think the trailing slash is the cause of the issue.

[code]

Second time with the exact same details:

[code]

[2022-01-20 09:09] danjee opened #272 "Could not generate configuration"
Hello, I have a situation setting up the cli.
I've configured as described in the steps and got to generating the configuration which failed:

[code]
Thanks

[2022-01-20 09:47] ankitpokhrel commented on #272
Duplicate #264

[2022-01-20 09:47] #272 closed

[2022-01-20 11:50] pmmalinov01 commented on #264
[code]

[2022-01-22 20:23] ankitpokhrel commented on #264
This is possibly fixed with #275

It would be great if someone can confirm this with the latest build (`brew install jira-cli --HEAD` or `go install github.com/ankitpokhrel/jira-cli/cmd/jira@main`)

[2022-01-26 21:30] wolfiesites commented on #229
hmm.. I m on Kubuntu 21.10 x86_64
This command works for me:
[code]
It returns json.

However `jira init` fails with error:
Received unexpected response '401 Unauthorized' from jira. Please try again.
:sad_peppe:

I installed `jira-cli` package via brew for linux.

[2022-01-26 21:35] wolfiesites commented on #229
Oh ok GOT it!!!

For those struggling
in `.bashrc`
`export JIRA_API_TOKEN="XXXXXX`

word `export` is needed which I ealier forgotten.

[2022-01-27 22:02] realtime-neil opened #277 "404 error: jira issue list --limit=$((1<<31))"
**Describe the bug**
The upper limit on the `jira issue list --limit` is an undocumented 2147483647; i.e., 2**31 - 1

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? A

[2022-01-28 06:06] shyim opened #278 "Not all boards are visible in jira init"
**Describe the bug**
Not all boards are visibile in jira iinit

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps t

[2022-01-28 10:25] robertocarta opened #280 "Editing issues from list view"
Hi - sorry if I'm missing something obvious here. I don't understand how to edit an issue from the list view. Is the only one to note the issue number, leave the list view and issue an edit command?

Thanks for your work!

[2022-01-28 15:19] jaeyoung-cho commented on #264
Hi @ankitpokhrel
I reproduced same situation like this issue on my computer.
[code]

So, I uninstalled jira-cli and reinstall it by your comment.
And then this issue was solved.

[code]

[2022-01-28 21:28] ankitpokhrel commented on #280
Hi @robertocarta, this feature is yet to be implemented. For now, you'll have to issue the edit command separately.

[2022-01-28 21:54] ankitpokhrel commented on #278
@shyim the API returns 50 results by default. I never realized that a project would've this many boards TBH. As a workaround, you can manually edit the config to add board details. The whole board thing needs some rework it seems.

[2022-01-28 22:36] ankitpokhrel commented on #277
This can be one of the minor improvement but I don't see any immediate problem with this. We are not supposed to pass a limit this big and Jira is taking care of it anyway.

However, I noticed another issue because of how Jira API behaves.

We are not actually getting expected number of results if the response body is huge so `--limit` option seems unreliable.

[2022-01-31 22:33] James-Firth commented on #264
I just tried initiatlizing this for the first time. I got an empty file initially and the error.

When I redid it after that and said I wanted to overwrite _then_ it created the config properly

[code]

[2022-02-01 11:59] davidsu opened #281 "subtask creation not working"
First thanks a lot for the key, that's really nice and useful.

**Describe the bug**
creating a subtask fails. five parent is not passed to the api.

**Please provide following details**
1. JiraCLI Version:
(Version="0.3.0", GitCommit="ea53355d5b72994a5b17a63e6e800ce9d8a23f4e", CommitDate="2022-01-09T19:50:19+00:00", GoVersion="go1.17.5", Compiler="gc", Platform="darwin/amd64")

2. Are you using J

[2022-02-01 14:14] davidsu commented on #281
I found the issue to be a typo here
https://github.com/ankitpokhrel/jira-cli/blob/5429cbd9d36360ac88245a412d3672a1c023a2a9/pkg/jira/issue.go#L20

don't know if that's globally right, my jira expects the type to be `Sub-Task` with capital `T`

[2022-02-01 19:36] hugoamvieira opened #282 "New Story Issue is not linked to Epic."
**Describe the bug**
Creating an issue of type "Story" and trying to link that to a parent Epic doesn't seem to work.

1. JiraCLI Version:
[code]

2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]

3. What operating system are you using? Also mention version.
[code]

4. What terminal are you using? Also mention version.
[code]

**To

[2022-02-01 20:35] ankitpokhrel commented on #281
Hi @davidsu, thank you for reporting the issue. The issuetypes were not available in the config when I first created this feature. We have this info in the config now so it would be wise to get it from there.

[2022-02-01 20:36] ankitpokhrel commented on #282
Hi @hugoamvieira, to confirm you are using `next-gen` project and not `classic` right?

[2022-02-02 17:50] hugoamvieira commented on #282
Hey @ankitpokhrel - Nope, it's a `classic` project.

As per the config:
[code]

[2022-02-02 18:04] ankitpokhrel commented on #282
Are you able to set epic using [jira epic add](https://github.com/ankitpokhrel/jira-cli#add-1)? Attaching issue on creation seem to be working fine in my setup (cloud) so I might need some extra details to debug. Is this epic shown when you try to add it from the UI ?

[2022-02-02 23:23] hugoamvieira commented on #282
Yep. Hadn't tried this but it works like a charm - I created a test Story and added it to an Epic and it worked great :)

Yep - I can set the epic in Jira's UI just fine.

[2022-02-03 15:43] jgrubio opened #284 "[HELP] Add work log time"
I'm looking and I haven't seen a way to do it.

Can I add time to an existing ticket?

[2022-02-03 16:10] realtime-neil commented on #277
At what point "may" Jira return fewer than the requested quantity? Where is this documented?

[2022-02-03 17:54] ankitpokhrel commented on #277
I was referring to [this API doc](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-search/#api-rest-api-3-search-get) (forgot to link it in previous comment, sorry).

![Screen Shot 2022-02-03 at 6 53 39 PM](https://user-images.githubusercontent.com/2364546/152400417-9700cd2e-afbb-44b9-bb42-8ae1ddf87a20.png)

[2022-02-03 18:39] ankitpokhrel commented on #264
@James-Firth @mavaddat This issue is fixed in `main` branch however not released yet. I will make a new release as soon as I can but if you want to try unreleased version you can use `brew install jira-cli --HEAD` with homebrew or `go install github.com/ankitpokhrel/jira-cli/cmd/jira@main` with go.

[2022-02-03 19:04] realtime-neil commented on #277
@ankitpokhrel okay, I understand. Could you point out where in your source code you're handling the paged responses?

[2022-02-03 19:06] mavaddat commented on #228
I agree that parseable output would be a nice feature. Plain text is surprisingly difficult to parse.

[2022-02-03 19:15] ankitpokhrel commented on #277
`jira issue list` invokes `/search` endpoint I linked above and we are passing `maxResults` [here](https://github.com/ankitpokhrel/jira-cli/blob/main/pkg/jira/search.go#L35).

[2022-02-03 21:57] realtime-neil opened #286 "spinner breaks output allignment"
**Describe the bug**

The spinner prints to stderr (which is fine) but doesn't print a final newline and flush it to the stream on completion. This results in terminal output like the following:

[code]
Note the final spinner output without the trailing newline has erroneously indented the column headings.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud

[2022-02-03 22:23] ankitpokhrel commented on #284
Hi @jgrubio, this feature is yet to be implemented. Closing since there is already an open request for this: https://github.com/ankitpokhrel/jira-cli/discussions/181

[2022-02-03 22:23] #284 closed

[2022-02-04 16:37] James-Firth commented on #264
@ankitpokhrel Awesome thanks for the detailed explanation and the hard work!

[2022-02-05 16:33] klaudiusz223 commented on #198
Hi,
I found 2 or even 3 different issues here.
1st - using displayName instead of name
if I change
https://github.com/ankitpokhrel/jira-cli/blob/5429cbd9d36360ac88245a412d3672a1c023a2a9/pkg/jira/types.go#L120-L126
to
[code]
I can successfully assign issue to myself.

2nd - according to documentation
https://docs.atlassian.com/software/jira/docs/api/REST/8.20.1/#user-findAssignableUsers
https://dev

[2022-02-08 13:44] realtime-neil opened #291 "`jira issue list --plain` does not respect `TERM=dumb`"
**Describe the bug**
`TERM=dumb jira issue list --plain` prints lines that exceed the 80-character width limit.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also m

[2022-02-08 19:42] jbaskeen opened #292 "Feature: Issue List Refresh Interval"
**Feature Request**

After reviewing the options I could not find a way to have an issue list, manually or automatically, refresh itself. After opening an issue list in my terminal, I'd like to be able to come back to it later and know that it is current, without having to back out and run the command again.

Provide a way to:

1. Manually refresh a list while viewing
2. Provide a refresh interval

[2022-02-09 01:03] jrich523 commented on #198
@klaudiusz223 I tried to update the User struct in the way you have it but that didnt work for me. however Im not very good with Go so im not totally sure its correct.

But I see all the similar problems where it seems to only be able to query so many users and even the search feature doesnt help. I dont even make it out of A's. I wouldnt be surprised if we have over 10k users on our Jira platform

[2022-02-09 15:28] jbaskeen opened #294 "Double forward slash in url when opening issue in browser via ENTER"
**Describe the bug**

In 0.3 there is an additional slash (/) after the jira hostname when opening an issue in the browser via ENTER from the issue list view. Example: `https://jira.company.com//browse/KEY-1234`

**Please provide following details**
1. JiraCLI Version: 0.3.0
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3

[2022-02-09 17:59] jrich523 commented on #198
@klaudiusz223 the curl worked and so does your branch!
Im mostly looking to use this for automation because we need a ticket for every PR,  so for those little one off tasks i wanted to do `jtb some description` which will create a ticket for me, and a git branch based on that ticket (jtb - jira ticket branch). the problem was assigning the ticket to me, and this fixes that, thanks!

[2022-02-09 19:37] ankitpokhrel commented on #292
Hi @jbaskeen, this could be an interesting feature to add. I do miss this feature myself sometimes. Things are bit overwhelming for me right now but I might work on this in the near future. PRs are welcome in the mean time :)

[2022-02-09 19:41] ankitpokhrel commented on #291
PR would be nice :)

[2022-02-09 20:03] realtime-neil commented on #291
@ankitpokhrel what are you using for terminal discovery? The first thing I found was this: https://github.com/golang/term

Do you have `--plain` printing isolated to a certain place in the source code? If so, where?

[2022-02-09 20:14] ankitpokhrel commented on #294
Hi @jbaskeen, I think you are using `server` url with a trailing slash. You can update your config manually to remove the trailing slash as an immediate fix.

I updated the config generator in #295 to strip trailing slashes when generating the config. So, newly generated config will auto strip trailing slashes to avoid the issue.

[2022-02-09 20:21] ankitpokhrel commented on #291
Most of the terminal discovery is being done by [rivo/tview](https://github.com/rivo/tview) (for tui) and [charmbracelet/glamour](https://github.com/charmbracelet/glamour) (for issue view).

For issue listing, its being triggered from here: https://github.com/ankitpokhrel/jira-cli/blob/main/internal/view/issues.go#L41-L44

[2022-02-10 18:53] hugoamvieira commented on #282
@ankitpokhrel Yep - You're correct. `epic.link` is set to `""`.
I tried regenerating but it's still not setting anything in there - What should be in that value?

[2022-02-10 19:26] ankitpokhrel commented on #282
`epic.link` is a custom field and is populated using [/rest/api/2/issue/createmeta ](https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-issues/#api-rest-api-2-issue-createmeta-get)endpoint. It would be helpful If you can execute following curl command and see if the API returns `Epic Link` custom field for your project.

[code]

In the response:
- we are first looking for `proje

[2022-02-10 21:05] ankitpokhrel commented on #281
@davidsu could you please check the fix and see if it works for you. You can install it with following command.
[code]

[2022-02-14 17:39] hugoamvieira commented on #282
Hey @ankitpokhrel - So I found the `projects.issuetypes` with `"name": "Epic"`, however there's no custom field within it that has name `Epic Link`.

This custom field is present in other issuetypes though - Here's how it looks like on other issue types:

[code]

I'm still a bit confused into what goes into `epic.link` VS `epic.name` as `jira init` set `epic.name` to one of those `customfield_XXXX

[2022-02-18 09:48] NumberVII commented on #133
My company uses Microsoft SSO, got same 401 with curl and jira init. Are you able to curl and jira init after switching shell?

[2022-02-19 09:18] ankitpokhrel commented on #282
@hugoamvieira its strange that the response doesn't have "Epic Link" field for issue type "Epic". Does the issue link on create work if you manually add `customfield_10008` to `epic.link` ?

[2022-02-20 00:30] hugoamvieira commented on #282
@ankitpokhrel Actually, yep. I set it up like this:

[code]

And it ended up working!

[2022-02-21 18:13] heeh opened #306 "jira issue list: CREATED and UPDATED column does not match computer time"
**Describe the bug**
`jira issue list` does not generate correct time.

**Please provide following details**
1. JiraCLI Version:
    ```(Version="main", GitCommit="5429cbd9d36360ac88245a412d3672a1c023a2a9", CommitDate="2022-01-24T20:14:18+00:00", GoVersion="go1.17.6", Compiler="gc", Platform="darwin/amd64")```
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-p

[2022-02-21 19:31] ankitpokhrel commented on #306
@heeh the displayed date time is in UTC. Jira API doesn't support timezone in its endpoints and JQL query.

Related: [JRACLOUD-17359](https://jira.atlassian.com/browse/JRACLOUD-17359)

[2022-02-21 22:01] heeh commented on #306
Thank you @ankitpokhrel I really like the program!

[2022-02-21 22:01] #306 closed

[2022-02-23 21:23] marek-veber opened #312 "Implement bearer authentication with personal access tokens"
The current implementation uses basic authentication only.
But our server enables only bearer authentication :(
See https://confluence.atlassian.com/enterprise/using-personal-access-tokens-1026032365.html

**Describe the solution you'd like**
Implement the `bearer` flag into the config file. The juice if the `JIRA_AUTH_TOKEN` contains a `password` or a `personal access tokens` will be answered dur

[2022-03-01 18:11] realtime-neil commented on #291
@ankitpokhrel could you help me understand how this is an "enhancement" and not a "defect"?

[2022-03-01 19:00] ankitpokhrel commented on #291
@realtime-neil l don't have any specific rules for this. I added "enhancement" because the tool was not designed for a "dumb" terminals. However, I don't mind supporting this for `--plain` option if we get a PR.

[2022-03-01 19:13] ankitpokhrel commented on #286
This seems to be working for me with recent changes. @realtime-neil could you please confirm and close the issue? :)

[2022-03-01 19:31] #281 closed

[2022-03-01 19:41] realtime-neil commented on #286
@ankitpokhrel can confirm:

[code]

[2022-03-01 19:41] #286 closed

[2022-03-06 09:30] ankitpokhrel commented on #262
Closing due to inactivity. Please feel free to comment to reopen the issue.

[2022-03-06 09:30] #262 closed

[2022-03-06 19:34] ankitpokhrel commented on #198
@klaudiusz223 @jrich523 Thank you for debugging the issue. Could you please try with the changes from #321 and see if it works for you? The PR also fixes the issue with assigning user with `jira issue edit`. You can either [compile the branch locally](https://github.com/ankitpokhrel/jira-cli#development) or install it with the following command. TIA

[code]

[2022-03-08 11:09] #278 closed

[2022-03-08 11:10] ankitpokhrel commented on #278
Hi @shyim, this should be fixed with #322 which adds search option when adding board during `jira init`.

![Screen Shot 2022-03-08 at 11 02 55 AM](https://user-images.githubusercontent.com/2364546/157218086-8057dc69-6571-4c9e-a16f-3290b2927547.png)

Please feel free to comment or open a new issue if this doesn't work for you. Thanks!

[2022-03-08 18:23] klaudiusz223 commented on #198
@ankitpokhrel  Thanks for the patch
Unfortuantely it's not working for me. It's working partially in one aspect but i'm not using it in such way.

`jira --debug issue create --no-input -s"Summary"  -a example.username  ` -  doesn't work - task created but user not assigned correctly

`jira issue assign ISSUE-1 example.username `  doesen't  work - user not assigned automaticaly but interactive mode

[2022-03-08 19:11] ankitpokhrel commented on #198
@klaudiusz223 interactive mode is started if there are multiple users with same username. The script cannot determine which user to choose if the jira API returns multiple results for the given username.

Same is the case with `jira issue assign $(jira me)`, if searching your username returns multiple results, you will be presented with an interactive mode to select the user. Using `username` fiel

[2022-03-08 19:18] ankitpokhrel commented on #198
The API seems to return best match at the top. We can introduce `--no-input` flag and that will take first result if multiple results are returned but that can still assign unintended user to the ticket.

[2022-03-08 19:59] klaudiusz223 commented on #198
If as a query parameter is used "query" it will not work for me no matter what i put in.  email address  or username. There is no such parameter in my version so it will not filter and jira will always retun first 99 users and me.
What You can check is to use "username" and "query" parameters in one query and see if You still has error regarding unsupported "username" parameter.

[2022-03-08 20:05] ankitpokhrel commented on #198
@klaudiusz223 could you please mention Jira version you are using?

The username field is deprecated and won't work in newer versions.

![Screen Shot 2022-03-08 at 9 04 15 PM](https://user-images.githubusercontent.com/2364546/157315980-28fe1498-f29d-4fb4-aed5-3ed3727b7a51.png)

[2022-03-08 20:18] klaudiusz223 commented on #198
As I wrote in one of my previous message it's 8.20.1
https://docs.atlassian.com/software/jira/docs/api/REST/8.20.1/#user-findAssignableUsers
I'm also aware that username field is deprecated as it is written in the 2nd link I provided in the same message.
I wonder what is the behaviour of jira if someone put in both of the parameters "query" and "username"
For example if I use "query" it is omitted

[2022-03-09 00:13] ericcurtin opened #323 "Not working with Red Hat's jira instance"
Been trying to use this with issues.redhat.com but get a 403 response. Red Hat is using Jira more and more, we are even migrating from bugzilla to Jira now so any help would be appreciated as many people in the open source community use this Jira instance

https://lists.centos.org/pipermail/centos-devel/2022-March/120269.html

[2022-03-09 09:06] ankitpokhrel commented on #323
Hi @ericcurtin, thank you for opening the issue. Supporting public Jira instance is something on my todo list and I will check what can I do here. Meanwhile if you can provide any helpful info or a PR to support this, please feel free to do so :)

[2022-03-09 10:36] ericcurtin commented on #323
Here's some curl output if that helps:

[code]

[2022-03-11 19:07] aberezin commented on #264
I confirmed the fix worked by installing @main

[2022-03-12 00:57] weshayutin commented on #323
I'm at Red Hat as well trying the same thing.
I was writing a python client when BAM found this awesome tool.

AFAICT... you can not log into RH's jira instance w/ a username.
The following works in python
jira = JIRA(server="https://issues.redhat.com", token_auth="JIRA_API_TOKEN") # token auth only afaict.

The other types of auth do NOT work..
https://jira.readthedocs.io/examples.html#

jira = J

[2022-03-12 01:03] weshayutin commented on #323
actually.. this is awesome..  @ankitpokhrel  @ericcurtin THIS pull request fixes this issue :)  https://github.com/ankitpokhrel/jira-cli/pull/313

[2022-03-12 08:19] ankitpokhrel commented on #263
Fixed in #320

[2022-03-12 08:19] #263 closed

[2022-03-12 08:35] ankitpokhrel commented on #323
Hi @weshayutin @ericcurtin I see that the public installation allows you to generate PAT so yes, #313 will fix the issue. I will try to get this feature merged soon.

[2022-03-12 09:45] ericcurtin commented on #323
Oh cool thanks everyone 👍

[2022-03-12 19:30] #312 closed

[2022-03-12 19:35] ankitpokhrel commented on #323
This should be done with #327. Please feel free to report any issues.

[2022-03-12 19:35] #323 closed

[2022-03-23 11:53] ankitpokhrel commented on #188
This has been done in #329 and will be available in the next release. For now, you can either compile the [main branch manually](https://github.com/ankitpokhrel/jira-cli#development) or if you are using [Homebrew](https://brew.sh/) you can use `brew install jira-cli --HEAD`.

[2022-03-23 11:53] #188 closed

[2022-03-23 11:56] ankitpokhrel commented on #292
Hi @jbaskeen, point 1 is done with #325. You can use `CTRL+R` or `F5` to refresh the list. This will be available in the next release. If you wish to try it now, you can either compile the [main branch manually](https://github.com/ankitpokhrel/jira-cli#development) or if you are using [Homebrew](https://brew.sh/) you can use `brew install jira-cli --HEAD`.

[2022-03-31 12:46] kharthigeyan opened #339 "jira issue unlink"
Is it possible to unlink two issues?.

[code]
Is there a plan to add this feature?.

[2022-03-31 13:49] vballestra-latch opened #340 "Support for custom field"
If would be nice to be able to show and edit custom fields. Is this feature already supported or are any plans to support it?

[2022-03-31 13:58] ankitpokhrel commented on #340
@vballestra-latch this feature is in progress https://github.com/ankitpokhrel/jira-cli/pull/319, you can help by testing and providing feedback.

[2022-04-04 08:55] marek-veber commented on #312
@ankitpokhrel - many thanks for finishing this issue.

[2022-04-04 17:36] erichsend opened #341 "Editing any issue drops the ParentIssue (Epic) Link for Jira Cloud Standard Project"
**Describe the bug**
If I make any edit to an issue, it seems the Epic Link is dropped.

**Please provide following details**
1. JiraCLI Version:
I changed to 'main' from a relatively recent version and see the issue in both places.

[code]

3. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.

[code]
5. What operating system are you using? A

[2022-04-11 09:51] GZLiew opened #342 "'accountId' must be the only user identifying query parameter in GDPR strict mode"
**Describe the bug**

I was trying to assign a ticket to an user using the search box but was getting the following error

![image](https://user-images.githubusercontent.com/43195293/162712921-8b7b5c0c-4c24-4ed2-b99f-ebe2089f8266.png)
![image](https://user-images.githubusercontent.com/43195293/162712953-cd4b6115-767d-4753-a7e1-2ff5b002c998.png)

**Please provide following details**
1. JiraCLI Vers

[2022-04-13 16:59] ryuheechul commented on #228
as suggested above calling via API directly was a good fallback to access data as `json` format 👍🏼 and `--debug --plain` with `jira` is helpful to reuse request bodies of what `jira` CLI uses instead of having to "reinvent" the request.

[2022-04-14 09:03] NagleZhang opened #344 "create issue with 400 error, msg: gh.epic.error.not.found"
**Describe the bug**
[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. jira i

[2022-04-20 09:43] bspinner commented on #247
+1, I'd like to see interaction with the macOS keychain.

Storing tokens in plaintext in my env is a no-go for me :(

@ankitpokthrel What would be the TODOs for this?

[2022-04-20 18:26] ankitpokhrel commented on #247
@bspinner Keychain support is something in my TODO list. I can't give a date, but this will hopefully be done soon. There are other priorities at the moment.

If someone wants to contribute, we can utilize [this lib](https://github.com/zalando/go-keyring) to interact with keychain.

[2022-04-20 19:02] #340 closed

[2022-04-21 17:30] realtime-neil opened #349 "jira issue view: fatal error: runtime: out of memory"
**Describe the bug**

Calling `jira issue view` with a large `--comments` number causes `fatal error: runtime: out of memory`:

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are yo

[2022-04-23 07:08] ankitpokhrel commented on #349
Hi @realtime-neil, Thank you for reporting the issue. Could you please check if #350 fixes this for you?

[code]

[2022-04-23 14:29] realtime-neil commented on #349
That works!

[code]

[2022-04-23 18:30] #349 closed

[2022-04-24 18:15] #341 closed

[2022-04-24 18:16] ankitpokhrel commented on #341
@erichsend Thank you for reporting the issue. This should be fixed with #351. Please feel free to comment if it doesn't work for you with latest change.

[2022-04-25 06:03] ankitpokhrel commented on #344
Hi @NagleZhang, the error says that epic doesn't exist. Are you sure that the epic exist and is accessible to you? I could only get this error if I try to assign epic that doesn't exist, which is legit.

[2022-04-25 06:25] ankitpokhrel commented on #342
@GZLiew How can I enable "GDPR strict mode" in Jira? Is it an option in the UI or hardcoded in config somewhere by Atlassian? I couldn't find proper details on this 😬

[2022-04-25 06:35] NagleZhang commented on #344
HI @ankitpokhrel .
This epic is not configured by my self. it is generated by using `jira init`
But seems the epic is not accessiable to me. because I tried using `jira epic list`. the epic name not shows.
it could be a authorization issue. I'll verify it.
Big Thanks :)

[2022-04-25 06:35] #344 closed

[2022-04-26 06:31] ankitpokhrel commented on #247
This is done with #348 and will be available in the next release. You can add a password item in your keychain with item name as `jira-cli` and account name as your login email/username. The order in which the tool look for a token is `env -> .netrc -> keychain`.

Please feel free to comment or open a new issue if this doesn't work for you.

[2022-04-26 06:31] #247 closed

[2022-04-26 11:23] artemhp commented on #264
I also was able to reproduce this issue after fresh install according to manual in README.
This solution resolved for me this problem:
[code]

[2022-04-26 20:20] bazulay opened #352 "The list command with '--plain --limit X' does not respect numbers bigger then 100"
**Describe the bug**

when running the following command I only get the first 100 results
[code]

1. JiraCLI Version:
[code]

3. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
4. What operating system are you using? Also mention version.
[code]
5. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to

[2022-04-27 06:25] ankitpokhrel commented on #352
Hi @bazulay, This is how Jira API behaves and we won't get expected number of results if the response body is huge. So `--limit` option is unreliable at the moment and needs to be changed to accept a range like a pagination.

[Doc](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-search/#api-rest-api-3-search-get) for ref:

![Screen Shot 2022-04-27 at 8 21 41 AM](https:/

[2022-04-28 07:41] bazulay commented on #352
Thanks @ankitpokhrel

What about pagination ?
If we have pagination I can loop through all the pages .

[2022-04-28 13:25] snogge opened #353 "JIRA_AUTH_TYPE has no effect"
I'm trying to run jira init with JIRA_AUTH_TYPE=bearer, but it does not seem to have any effect

[code]

Select local, add server address, add username

[code]

It looks like the authentication header is wrong.

[code]

Works and returns the expected JSON response.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention t

[2022-04-29 14:17] snogge commented on #353
Thank you, adding it to the config file worked. I'm not a fan of setting this type of environment variables when there is a config file.
I think it would be great if `auth_type:bearer` was added to the config file by the setup command.

[2022-04-29 18:43] ankitpokhrel commented on #353
Thank you for the feedback. It may not happen soon but there is a plan to work on a `config` command (similar to `git config`) that will let you control the configurations.

[2022-04-29 18:43] #353 closed

[2022-04-30 20:32] dtsyosh commented on #342
https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/

@ankitpokhrel

This is due to these changes.

 When I try to assign to other users I can, this error just occurs when I try to assign an issue to me.

[2022-05-03 20:46] TGPSKI commented on #353
Is there an example of a config file somewhere? I am stuck on this problem and without an example I am struggling to create a config file where I can change the auth type.

[2022-05-03 21:03] TGPSKI commented on #353
I'll add that running `go install github.com/ankitpokhrel/jira-cli/cmd/jira@latest` did not result in a working binary for bearer token type. When I cloned the repo and ran the makefile directives (build / install), then I was unblocked.

[2022-05-04 10:28] marinjurjevic opened #357 "netrc configuration not picked up"
**Describe the bug**

I am trying to initialise using `netrc`. I created `~/.netrc` file with required fields. When I run `~/go/bin/jira init` I get prompted for e-mail.
I'm not using $JIRA_API_TOKEN env variable and per instructions [here](https://github.com/ankitpokhrel/jira-cli/discussions/356), the next option is netrc file.
Is there additional step I'm missing here?

**Please provide followin

[2022-05-06 04:06] ad8lmondy opened #358 "Unable to edit labels on sub-task"
**Describe the bug**
I want to add labels to an existing sub-task.

I tried running:
[code]
but I get this returned:
[code]
Running with `--debug` (and removing details), the last response is:
[code]
If I run the command interactively (by removing the `--no-input` flag), I get the same result.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premis

[2022-05-06 17:49] #277 closed

[2022-05-06 17:49] #352 closed

[2022-05-06 17:52] ankitpokhrel commented on #352
Fixed in #359

You can now use the `--paginate` flag. Format `<from>:<limit>`, where `<from>` is optional and `<limit>` must be between 1 and 100 (inclusive).

[code]

[2022-05-06 17:52] ankitpokhrel commented on #277
`limit` flag is replaced with `paginate` in #359

[2022-05-07 07:51] ankitpokhrel commented on #357
Hi @marinjurjevic, current `.netrc` implementation looks for the combination of `machine` name and `login` to get the token so email is required before the tool can get the token. This also means you can setup token for multiple users in the same `.netrc` file.

// cc: @adolsalamanca since you worked on this

[2022-05-07 07:58] ankitpokhrel commented on #358
Hi @ad8lmondy, could you please check this with the main build? A lot has changed in the main branch. To get the dev release, you can either [compile the source locally](https://github.com/ankitpokhrel/jira-cli#development) or you can use following command (requires go1.16+).

[code]

Also, If you are using Homebrew, you can do:

[code]

[2022-05-07 08:03] ankitpokhrel commented on #342
@dtsyosh I wonder why I can't reproduce this in my installation (both cloud and on-premise). Unless there is some config to enable the "GDPR strict mode", I should be easily able to reproduce this right?

[2022-05-07 16:10] marinjurjevic commented on #357
I've setup the credentials per aforementioned instructions:
[code]

I'm registered as external user on the Jira server so I don't have e-mail/token combination. I've setup different tools (e.g. VSCode extension) with username/password successfully.

If e-mail is required, then I suggest your emphasize that in the [instructions](https://github.com/ankitpokhrel/jira-cli/discussions/356).

[2022-05-08 04:28] GZLiew commented on #342
@ankitpokhrel is there a verbose setting I can turn on so I can share you the logs while running the cli? heres the config im using.

[code]

[2022-05-08 07:09] #339 closed

[2022-05-08 15:06] bazulay commented on #352
Thanks @ankitpokhrel  for the fast response.
When is the next release ? or where can I find instructions on howto build from source ?

[2022-05-09 18:21] ankitpokhrel commented on #264
This fix is available in the new release [v1.0.0-beta](https://github.com/ankitpokhrel/jira-cli/releases/tag/v1.0.0-beta)

[2022-05-09 18:21] #264 closed

[2022-05-09 19:51] reidg44 commented on #198
I'm dealing with the same issue as @klaudiusz223 on Jira Server v.8.20.x. Testing with the REST API show that swapping the "query" parameter to the "username" parameter fixes the issue for me.

Jira Server API ignores the "query" parameter altogether and just returns the first 100 users.

Just tested on jira-cli 1.0.0-beta but the issue persists.

[2022-05-10 04:11] ad8lmondy commented on #358
Hello,

I used the `go install` method, and running the exact same CLI input on the compiled version: it works!

Thanks for that!

[2022-05-10 04:11] #358 closed

[2022-05-10 18:50] BergQuester opened #361 "`brew upgrade` failing on 1.0.0-beta"
**Describe the bug**

I have Xcode 13.3.1 installed and set as the command line tools. On upgrading via brew I get the following:

[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What term

[2022-05-11 16:38] Drowze commented on #361
Just adding details for this ticket: I just ran `brew upgrade` and it worked fine here on my local.

brew output:
[code]

OS version: `macOS Big Sur 11.6`
Xcode version: `version: 13.2.0.0.1.1638488800` (only `CommandLineTools` installed, checked version via [this SO answer](https://stackoverflow.com/questions/21272479/how-can-i-find-out-if-i-have-xcode-commandline-tools-installed/42144725#4214472

[2022-05-11 17:42] BergQuester commented on #361
What's weird is I just tried installing the 13.3.1 command line tools package from the developer site and that worked around the issue.

Strange, since my original setup should have worked.

[2022-05-12 06:09] ankitpokhrel commented on #361
Just checked in my local machine `macOS Big Sur 11.6` on `XCode 13.1`, `brew upgrade` ran without any issues.

I don't think this is related to `jira-cli` since I've noticed some of my colleagues have similar issue but with other tools. Let's keep this issue open for a while just in case.

[2022-05-12 19:18] ankitpokhrel commented on #342
@GZLiew does user assign work directly with `jira issue create --assignee <email or display name>`?

There is a `--debug` option but I don't think that would be useful in this case.

[2022-05-13 12:15] Tarektouati opened #363 "jira issue list --plain"
**Describe the bug**

**Please provide following details**
1. JiraCLI Version:
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. `jira issue --list --plain  | grep <something>`
3. See nothing

**Expected behavior**
Be able to grep on jira's issues list.

**A

[2022-05-14 06:30] ankitpokhrel commented on #363
Hi @Tarektouati, this seem to be working fine for me. Could you please try with the [latest beta release](https://github.com/ankitpokhrel/jira-cli/releases/tag/v1.0.0-beta)?

[code]

[2022-05-17 00:36] GZLiew commented on #342
@ankitpokhrel nope any way of assigning doesnt work for me currently

Im trying to assign it to myself below

[code]

[2022-05-17 16:21] OmarKalloush opened #366 "Jira init non-interactive"
``> Please consider [opening a discussion](https://github.com/ankitpokhrel/jira-cli/discussions/categories/ideas) in `ideas` category if applicable. Your feature will be prioritized on based on the number of votes.

**Is your feature request related to a problem? Please describe.**

I'm trying to use jira cli in a pipeline and i was wondering if i could init with a non-interactive way

**Describe

[2022-05-17 16:48] realtime-neil commented on #366
Concur 100% --- fully _every_ sub-command should be non-interactive.

[2022-05-17 18:17] pdusen commented on #366
FWIW, I have worked around this by creating a a templated version of `~/.config/.jira/.config.yml` and deploying it to the proper location on my build agents when they begin a job that requires jira-cli.

    installation: Local
    login: $JIRA_API_USER
    project:
      key: $MATCHING_PREFIX
      type: ""
    server: $JIRA_URL

Still, not ideal. It should definitely be possible to run `init` i

[2022-05-18 06:09] Tarektouati commented on #363
Hey @ankitpokhrel ! it seems that the 1.0.0 version resolves the issue, thanks for your help ! have a great day :)

[2022-05-18 06:09] #363 closed

[2022-05-19 23:53] realtime-neil commented on #213
@ankitpokhrel `jira issue list` is also affected:

[code]

[2022-05-21 10:12] ankitpokhrel commented on #366
I am with you folks on this! This one is on my to-do list and I will work on it. PRs are welcome in the meantime.

[2022-05-22 11:08] bazulay opened #370 "using "jira issue list --plain -q ..." in a bash script producess weird errors"
**Describe the bug**

[code]

As you can see the query does not contain "ORDER BY ..."

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

*

[2022-05-22 19:40] ankitpokhrel commented on #370
Hi @bazulay, I think the problem here is because of [word splitting](https://www.gnu.org/software/bash/manual/html_node/Word-Splitting.html).

The ultimate goal is to run following query from the shell script

[code]

But the script you shared above will execute something like below causing the issue

[code]

Something like this should work.
[code]

[2022-05-23 13:11] realtime-neil commented on #370
@bazulay your shell quoting is wrong. If you're going to store commands as shell-quoted strings, then consider https://www.etalabs.net/sh_tricks.html, specifically the section on "Shell-quoting arbitrary strings".

[2022-06-01 14:40] ankitpokhrel commented on #198
I ran into similar issue in one of the client's Jira installation. Will work on the fix. Its weird that this behaves differently in my local installation of v8.20.x 🤷‍♂️

[2022-06-02 19:12] ankitpokhrel commented on #357
@marinjurjevic just to be clear when I said email is required I meant `login` section of `.netrc` and that can either be email or username based on your setup. In your case you can use your username.

[2022-06-03 06:53] ankitpokhrel commented on #198
This should be fixed with #380

[2022-06-06 08:02] #366 closed

[2022-06-06 09:48] h0adp0re commented on #198
Yes, can confirm. This works as expected now.

[code]

Thanks a lot!

[2022-06-15 16:46] maciekrb opened #388 "Got response in unexpected format when fetching metadata"
**Describe the bug**
`jira init` exits with the error `Got response in unexpected format when fetching metadata. Please try again`

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal ar

[2022-06-15 17:54] astarrr opened #389 "jira issue view <key> --plain does not work"
**Describe the bug**
It seems that the flag --plain is not considered or is not working

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

[2022-06-15 19:20] ankitpokhrel commented on #388
Hi @maciekrb, could you please check if you get same error with the [latest beta release](https://github.com/ankitpokhrel/jira-cli/releases/tag/v1.0.0-beta.1)?

[2022-06-16 03:13] OneGeek opened #390 "For 'jira issue edit', editing only a custom field with --no-input results in "✗ Nothing to update""
**Describe the bug**

I am writing a tool that needs to modify a jira issue custom field, among other tasks. I want to use a command of the form
`jira issue edit EX-123 --custom my-field=foo --no-input`
However, that command results in the output `✗ Nothing to update`

If I omit `--no-input` and just hit enter to accept the current summary and description and choose 'submit', it works as expected

[2022-06-16 06:27] ankitpokhrel commented on #389
Hi @astarrr, could you please share more details. What error you get? Does it work without `--plain` flag?

[2022-06-16 06:28] ankitpokhrel commented on #390
Looks like a bug, thanks for reporting!

[2022-06-16 06:28] astarrr commented on #389
No errors, the same command with or without `--plain` returns the same output

[2022-06-18 02:05] dofinn commented on #133
[code]

Additionally, the `JIRA_AUTH_TYPE` var does nothing? debugging the auth to local server with this var set as "bearer" as described in the readme still uses basic and fails... exact same token works using go-jira

[2022-06-18 10:32] dofinn opened #393 "Formatting issue or missing char set?"
**Describe the bug**

jira view issue fails to display correctly

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps

[2022-06-19 06:46] ankitpokhrel commented on #393
Hi @dofinn, It seem to be working fine for me with Alacritty 0.10.1 on macOS. I think this is something related to your shell config.

Possibly related: #213 #291 #367

Also you seem to be using old version of the tool. Try using the [latest beta release](https://github.com/ankitpokhrel/jira-cli/releases/tag/v1.0.0-beta.1).

[2022-06-19 06:48] ankitpokhrel commented on #389
hmm...I don't have windows machine to check and its really hard to say what's happening without checking. I will try to reproduce this if I get access to a windows machine. Any help is appreciated in the meantime.

[2022-06-19 16:25] #390 closed

[2022-06-20 01:41] dofinn commented on #393
Hi @ankitpokhrel - i am using a locally built version due to https://github.com/ankitpokhrel/jira-cli/pull/343.

additionally https://github.com/ankitpokhrel/jira-cli/discussions/367 appears to resolve my issues :+1:

[2022-06-22 17:52] adolsalamanca commented on #357
Hello!

Regarding this comment:

As you can see [here](https://github.com/ankitpokhrel/jira-cli/discussions/356) email or username is already specified as a requirement.

I would consider this issue as solved :)

Thanks

[2022-06-23 06:36] #357 closed

[2022-06-23 06:39] #198 closed

[2022-06-28 07:19] ankitpokhrel commented on #393
Closing this since there are related open issues.

[2022-06-28 07:19] #393 closed

[2022-06-28 07:56] jonasrathgeber opened #401 "'403' Forbidden during "jira init""
**Describe the bug**
During ```jira init``` after selecting the Default project I get the following Error:

[code]

**Please provide following details**
1. JiraCLI Version:
[code]
3. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
4. What operating system are you using? Also mention version.
[code]
5. What terminal are you using? Als

[2022-06-28 15:12] bs7280 opened #402 "Getting 302 error when trying to list Issues or Epics"
**Describe the bug**
Im using JIRA-CLI for the first time, I am able to login with a Personal Auth Token and view all projects and boards no problem. BUT when I try to do `jira issue list` or `jira epic list` I get this error message:

[code]
I assume this is an HTTP redirect error?

Im not sure how else to get more information / logs / debug mode but happy to help debug this.

**Please provide fo

[2022-06-28 17:55] ankitpokhrel commented on #402
Hi @bs7280, is your setup under a VPN/proxy? Also, could you send the debug output of `jira issue list --debug` (Make sure to redact sensitive information).

[2022-06-28 18:18] bs7280 commented on #402
Thanks @ankitpokhrel, so I am on a VPN (which im connected to) but getting projects and board names worked fine.

The main info I see from the --debug output is its redirecting me to the login page:
`/login.jsp?os_destination=https://gojira.redactedcompany.com/rest/api/3/search?jql=project%3D%22DEV%22+ORDER+BY+created+DESC&startAt=0&maxResults=100`

full debug output with name, company, and tokens

[2022-06-28 18:51] ankitpokhrel commented on #402
Its strange that this worked but other API calls didn't. I wonder does your token has permissions need to list issues. You will only get this error if you don't have enough permission to call the endpoint. Do you get response with the direct API call?

[code]

[2022-06-29 06:22] ankitpokhrel commented on #402
Hi @ankitpokhrel, that's a local installation but it seems like you've configured `jira-cli` for cloud installation. Cloud installation are instances managed by Atlassian under atlasian.net. Please run `jira init` again and choose installation type as `Local` to configure your setup.

[2022-06-29 11:07] jonasrathgeber commented on #401
Thanks for the suggestion. That doesn't work. I get a 401 Error before I can even select the project.
```✗ Received unexpected response '401 Unauthorized' from jira. Please try again.```

[2022-06-29 14:59] #402 closed

[2022-07-04 05:08] jonasrathgeber commented on #401
Thanks for the response @ankitpokhrel. This helps a lot to trace the Problem:
[code]

This shows the Problem. The Response is:
[code]

So it is a Problem with the API Token and/or Permissions. I double checked my Project Permissions (I created the Project and am the only User). I am using the Jira Free Plan could that be the Problem?

[2022-07-05 04:54] hugocm93 opened #404 "Unassigning through the interactive command ‘jira issue assign’ doesn’t work"
`jira issue assign ‘issue#’` doesn’t work when I choose `No-one (unassign)`. I get a “internal server error” with code 500. However if I use `jira issue assign ‘issue#’ x`, it works.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you usi

[2022-07-05 06:37] ankitpokhrel commented on #133
Closing as the original issue is fixed with the [latest release](https://github.com/ankitpokhrel/jira-cli/releases/tag/v1.0.0). @NumberVII please open a new issue with required details, your issue is something different.

[2022-07-05 06:37] #133 closed

[2022-07-05 06:38] ankitpokhrel commented on #361
Closing due to inactivity and I can't reproduce the issue. Please feel free to comment or open a new issue if you think the problem still persists.

[2022-07-05 06:38] #361 closed

[2022-07-05 06:43] #404 closed

[2022-07-05 06:43] ankitpokhrel commented on #404
Should be fixed with #404. Thank you for reporting the issue!

[2022-07-05 07:55] jonasrathgeber commented on #401
It's resolved. Even though I used to work with Jira I was missing the License somehow. One click on "Get it free" on the product page resolved it.

[2022-07-05 07:55] #401 closed

[2022-07-08 20:03] integrii opened #407 "'@' mentions for users does not work"
**Describe the bug**
When I use @user.name, it comes out as plain text in the JIRA UI.  When I fetch an issue with an At mentioned member, I see the user prefixed with `/~`, However when I try to also put in `/~user.name` it comes out as plain text in the UI and `\/~user.name` in my `jira-cli`.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premi

[2022-07-09 07:43] ankitpokhrel commented on #407
Hi @integrii, on-premises installation use jira api v2 and it expects the data in this format `[~displayname]`. For example, the input below should render fine in Jira UI.

[code]
![Screen Shot 2022-07-09 at 9 39 50 AM](https://user-images.githubusercontent.com/2364546/178096655-c684b1e5-dfd6-4c93-8370-d0aed7c6182d.png)

Note that you'll need to use display name if its available. If you are unsure

[2022-07-14 21:27] klaudiusz223 opened #409 "How to set security level?"
@ankitpokhrel Thanks for great software.
I would like to set security level. Is it possible to set it using custom fields?
When I run command
[code]

I've got this answer
[code]

I have successfully run `init jira` but there is no "security" field in my config file. Should I add it manually? I don't know how to add such type of field.
Any hint will be appreciated.

[2022-07-16 15:45] ankitpokhrel commented on #409
Hi @klaudiusz223, security field is not a custom field as per your config and setting this field is not directly supported. However, you can try to update the config file manually to see if it works.

[code]

Note that you need to provide correct datatype in `schema`, it should be json array I think.

[2022-07-26 21:08] klaudiusz223 commented on #409
Hi @ankitpokhrel
Thank You for the answer.
I have not tried to set the security field yet because in my case it can create a ticket with the default secuirty level, which means that I will not be able to access it. Unfortunately, I have no influence on it. I don't have administrator privileges in JIRA. Besides, I read somewhere that setting security level is not possible when creating a ticket, bu

[2022-07-27 11:59] ciarancourtney opened #414 "Interactive TUI doesn't fully work in MSYS2/Git Bash terminal on Windows"
Opening issues with `jira issues list` results in an non-interaction TUI loading, you can paginate side-to-side, but row selection is not visible/rendered properly.

**Please provide following details**
1. JiraCLI Version: v1.0.0
2. Are you using Jira cloud or on-premise jira server? N/A (Cloud)

3. What operating system are you using? Windows 10
4. What terminal are you using? Windows Terminal Pr

[2022-07-27 12:45] PersistentCoder7 opened #415 "JIRA issue list command not showing the highlighted issue on Windows"
While browsing through the issue list on windows, we cannot see the selection bar highlighting, making it very difficult to identify the currently selected item. Only the heading is clearly highlighted in blue.

[2022-07-28 00:07] TGPSKI commented on #415
Same issue on Manjaro Linux

jira-cli v1.0.0
zsh shell in Konsole
Kernel 5.18.10

[2022-07-28 00:45] TGPSKI commented on #415
I think this is somewhere around here: https://github.com/ankitpokhrel/jira-cli/blob/main/pkg/tui/table.go#L258

[2022-07-28 18:26] TGPSKI commented on #415
I would expect to see SetSelectable and SetFixed called somewhere in Issues.go render method: https://github.com/ankitpokhrel/jira-cli/blob/main/internal/view/issues.go#L41

cc: rivo's docs on table selections: https://pkg.go.dev/github.com/rivo/tview#hdr-Selections

[2022-07-28 19:19] ankitpokhrel commented on #415
@PersistentCoder7 @TGPSKI you should be able to customize the UI for highlighted issue once https://github.com/ankitpokhrel/jira-cli/pull/419 is merged. Feel free to try it and report any issues, you can install the changes using following command.

[code]

[2022-07-28 20:09] TGPSKI commented on #415
@ankitpokhrel this works exceptionally well.

I was scratching my head for a minute looking for the config file, but found it in the help output from running `$ jira`

[2022-07-29 10:34] PersistentCoder7 commented on #415
@ankitpokhrel  Can you share the latest version of the windows executable containing the pull request? I can test and confirm.

[2022-07-29 17:02] hu13 commented on #229
I still have this issue with jira-cli:
[code]
I did the export correctly and curl works.

[2022-07-29 17:04] hu13 commented on #229
are there log files or verbose mode for jira-cli that we can check for more details?

[2022-07-30 16:54] #415 closed

[2022-07-30 16:59] ankitpokhrel commented on #415
Hi @PersistentCoder7, the changes are merged and available in the main branch. For now you either need to [compile it locally](https://github.com/ankitpokhrel/jira-cli#development) or use following methods to install. Changes will be available in the new release possibly in a few weeks.

With [Golang](https://go.dev/)

[code]

With [docker](https://www.docker.com/)

[code]

[2022-08-02 07:19] PersistentCoder7 commented on #415
I was able to test the fix, and everything works flawlessly. Thanks, @ankitpokhrel.

[2022-08-02 09:47] svzieg opened #425 "Create Metadata needs to be updated to work with jira 9"
**Describe the bug**
The current create Meta client request calles the api for jira versions below 8.,4

https://github.com/ankitpokhrel/jira-cli/blob/ebc9e0e2e459a3ec7f1c1779f1294f69433175d3/pkg/jira/createmeta.go#L33-L45

after 8.4  the url changes to
[code]

https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/

**Please provide following details**
1. JiraCLI Version:
[co

[2022-08-08 17:09] rhysjtevans opened #428 "jira sprint list - empty"
**Describe the bug**
I am able to list issues, projects boards etc. however sprint does not work. I haven't looked into it yet but doing a debug I can see the follow URI is called with boards '0' which I'm not sure where this comes from?

`/rest/agile/1.0/board/0/sprint?state=active,closed&startAt=0&maxResults=50`

Also no matter what I do I can't list sprints (even if I change to a different proj

[2022-08-08 17:21] rhysjtevans commented on #428
After some code diving - I've worked around this by hard-coding the configuration but not ideal, would be great if it queried and listed all sprints by default,

i.e.

[code]

[2022-08-08 18:45] rhysjtevans commented on #409
I'm also unable to set custom fields, I am failing to get the example story-points working. I've tried both the name and customfield_<id> formats as the reference

[2022-08-08 19:29] ankitpokhrel commented on #428
Hi @rhysjtevans, it should list all sprints by default. The initialization step fetches all data required for the tool (except for some older versions of jira).

I would assume for some reason the config was not fully generated for your installation. Did you select the board during the `jira init` process?

[2022-08-10 05:27] leopck opened #429 "jira sprint list only shows issues from one board"
jira version 1.0.0

For stories/bugs that are in the sprint but are set as Open status, `jira sprint list` or `jira sprint list --current` doesn't list those Open/Closed/PENDING/IMPLEMENTED/etc... Status, only listing only In Progress.

This shouldn't be the case, if we are performing `jira spring list` it should list all spring regardless of its' statuses and if they need to custom search the sta

[2022-08-10 06:26] ankitpokhrel commented on #429
Hi @leopck, `jira sprint list` command shows issues regardless of its statuses as long as it is returned by the Jira API. Could you please mention if you are using jira cloud or on-premises installation (with version)?

[2022-08-10 06:29] leopck commented on #429
That's strange... I'm using jira on-premises installation. Currently have Jira sprints with different statuses but `jira sprint list` only shows In Progress

[2022-08-10 06:37] leopck commented on #429
@ankitpokhrel I have snip a comparison of the output for your reference.

![image](https://user-images.githubusercontent.com/4161783/183832185-1220494f-fc8b-4c02-9f6e-444b54d2f132.png)

[2022-08-10 06:38] leopck commented on #429
The image on the left (terminal) is only displaying the In Progress as seen from the ID of the full list on the right hand side which is the Jira website itself.

[2022-08-10 06:47] ankitpokhrel commented on #429
Do you get all the issues back if you query the API directly?

[code]
You can get sprint id using `jira sprint list`.

(_Also could you please mention the version of Jira you are using?_)

[2022-08-10 06:51] leopck commented on #429
Jira version: v8.20.2#820002-sha1:829506d:prd1phyjdc01

How do I set bearer for the auth because I'm using PAT (Personal Access Token)?

[2022-08-10 06:53] ankitpokhrel commented on #429
You can use header to pass bearer token.
[code]

[2022-08-10 07:08] leopck commented on #429
@ankitpokhrel thanks for the command. I just finished comparing the two output and compared against the website version as well. The RESTful API is able to query all the issues and it's the same as the website output. Image below shows that the website the REST API is the same.

![image](https://user-images.githubusercontent.com/4161783/183837377-abbc751a-adb5-48e9-b5f3-7dca41b9e7af.png)

[2022-08-10 07:23] ankitpokhrel commented on #429
That's strange! Are all these issues in the sprint from same project that you configured?

[2022-08-10 07:24] leopck commented on #429
Yes, I did not change the project. This is all from the same project.

[2022-08-10 07:32] ankitpokhrel commented on #429
I am not able to reproduce this in my installation so its bit tricky to say what's happening. Could you please check if you get same results as before when using project filter in the Jira API?

[code]

[2022-08-10 07:39] leopck commented on #429
@ankitpokhrel yes, it's working as well. Image below shows that the output is the same as the previous REST query and same as the website.

![image](https://user-images.githubusercontent.com/4161783/183843132-ac205d49-0862-4eaa-b619-a38e408097da.png)

[2022-08-10 08:34] leopck commented on #429
@ankitpokhrel I found what's the issue. Running the debug mode, I discovered the REST API that was used. It was using this API:
`https://<jira url>/rest/agile/1.0/board/<id>/sprint/<sprint id>/issue` vs `https://jira.devtools.intel.com/rest/agile/1.0/sprint/<sprint id>/issue?jql=project=<project-id>`

You can see the difference in the output the top command is using `https://<jira url>/rest/agile/

[2022-08-10 08:58] leopck commented on #429
@ankitpokhrel I just checked the board, this board doesn't list all issues from other status because the board only shows To Do, In Progress and Done.

Is it possible to either support pulling from `https://<jira-server>/rest/agile/1.0/sprint/<sprint_id>/issue` itself and support a separate command for pulling sprints from a board: `https://<jira url>/rest/agile/1.0/board/<id>/sprint/<sprint id>/i

[2022-08-10 09:26] adrian-gierakowski commented on #342
just to confirm [this comment](https://github.com/ankitpokhrel/jira-cli/issues/342#issuecomment-1114049691)

the following worked for me:
[code]

with the TOKEN value obtained from logs output by:

[code]

and ACCOUNT_ID obtained as described [here](https://community.atlassian.com/t5/Jira-questions/where-can-i-find-my-Account-ID/qaq-p/976527#M313417)

[2022-08-10 17:29] leopck commented on #429
@ankitpokhrel I tested this by doing a simple workaround

https://github.com/ankitpokhrel/jira-cli/blob/19ce4b4168b7ac6a98a5b0af8526320bde862781/pkg/jira/sprint.go#L97

I changed this line to this after removing board from the query:

[code]

And now it works! It's not the most elegant solution, I would suggest something like `jira sprint list --board` for those that only wants to list sprints on

[2022-08-10 19:14] ankitpokhrel commented on #429
I meant `board` here, sorry! When I first created this feature, I didn't realize that sprint can have tickets from different boards but this is something that needs to be fixed. No one complained about this so far and for my usecase I usually have tickets from same board in the sprint.

I will work on the fix. PRs are welcome in the meantime!

[2022-08-10 23:51] leopck commented on #429
@ankitpokhrel I don't mind pushing a PR on this, though i'm not a golang expert but I can try. What solution do you have in mind for this? Just remove the `board` or have it as an argument e.g. `jira sprint list --board <board-id>` or just `jira sprint list --board`?

[2022-08-12 15:14] pcontezini commented on #388
Same error here:

(Version="1.0.0", GitCommit="e94433858ee31e16d4b41c14032864f3c5361115", CommitDate="2022-06-23T06:35:37+00:00", GoVersion="go1.18.3", Compiler="gc", Platform="darwin/amd64")

Installed from homebrew today, using a cloud jira instance, the error appears in any project or board selected.

macos monterrey 12.5 with iterm-2 3.4.16

[2022-08-12 15:34] mslinn opened #430 "Article about JiraCLI"
The article provides information about getting started that might be otherwise hard to find.

Read it at https://www.mslinn.com/blog/2022/08/12/jiracli.html

[2022-08-12 16:43] cloudwitch opened #432 "--insecure is not working with docker image ID a7e35d3527d2: x509: certificate signed by unknown authority"
**Describe the bug**
Using the latest Docker image with ID a7e35d3527d2, I am receiving error `✗ Unable to generate configuration: x509: certificate signed by unknown authority` when trying to run `jira init --insecure`.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code

[2022-08-12 18:47] ankitpokhrel commented on #432
HI @cloudwitch, this was fixed with #413 and the fix is available in the main branch. Could you please try with the build from main branch?

[code]

[2022-08-12 18:55] ankitpokhrel commented on #388
Hi @pcontezini, I couldn't reproduce this in my cloud instance but I suspect this might be related to the changes coming in the Jira 9.0 (#425). Perhaps not all regions for the cloud instance are updated yet so its working for me. I will try to create a fix for 9.0 and hopefully that will fix the issue.

[2022-08-13 07:47] ankitpokhrel commented on #430
Hi @mslinn, thank you for the getting started article 🙌🏻. I linked it in the [Readme](https://github.com/ankitpokhrel/jira-cli#resources).

[2022-08-13 07:47] #430 closed

[2022-08-13 12:10] wstewarttennes opened #434 "Support for multiple Jira instances."
**Is your feature request related to a problem? Please describe.**

I work with multiple Jira instances for work/personal life. Would LOVE to be able to access them all from either one jira-cli installation or across multiple iTerm profiles. Right now, because there is only one configuration file, I can't setup multiple Jira instances.

**Describe the solution you'd like**

option 1: Add support f

[2022-08-13 14:57] ankitpokhrel commented on #434
Hi @wstewarttennes, there is a `--config/-c` flag available that you can use to target different Jira instances. You can also use `XDG_CONFIG_HOME` env for the same purpose.

[2022-08-14 16:24] ankitpokhrel commented on #432
The fix is available in the latest release [v1.1.0](https://github.com/ankitpokhrel/jira-cli/releases/tag/v1.1.0)

[2022-08-14 16:24] #432 closed

[2022-08-14 16:24] ankitpokhrel commented on #370
Closing due to inactivity

[2022-08-14 16:24] #370 closed

[2022-08-14 18:41] pgebert opened #437 "Viewing selected issue details in jira issues list pressing v results in a freezing terminal on Windows"
Viewing selected issue details in `jira issues list`  pressing `v` results in a freezing terminal on Windows. No possibility to get back (tried `q` , `Ctrl + c` )

**Please provide following details**

1. JiraCLI Version: v1.1.0
2. Are you using Jira cloud or on-premise jira server? on-premise
3. What operating system are you using? Windows 10
4. What terminal are you using? Windows Terminal Versi

[2022-08-15 15:20] Nfinished commented on #280
Obviously it's a huge feature but something akin to ranger for navigating and modifying sprints and issues within them would be incredible

[2022-08-16 04:37] akhiljalagam opened #439 "jira init - 401 Unauthorized"
**Describe the bug**

`jira init` failing with 401 Unauthorized response. but worked with curl requests using the same API token.

![image](https://user-images.githubusercontent.com/21128035/184798568-efe6021d-cc9c-4495-83d2-0745ff83223b.png)

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premi

[2022-08-16 07:02] ankitpokhrel commented on #439
Hi @akhiljalagam, it looks like you haven't setup the token properly ([doc](https://github.com/ankitpokhrel/jira-cli/discussions/356)). If you are using personal access token (PAT), then you need to set `JIRA_AUTH_TYPE` to `bearer`.

[2022-08-16 12:14] akhiljalagam commented on #439
I tried both `bearer` and `basic`. didnt work.
but direct curl request working.

[2022-08-17 14:23] viditsi1 commented on #439
Facing the same error. But I cannot seem to set my authentication method to bearer event after setting the env variable it is uses basic.

<img width="726" alt="image" src="https://user-images.githubusercontent.com/41787775/185159046-238549fb-39ea-461a-a526-a99e05dc507e.png">

[2022-08-17 17:11] akhiljalagam commented on #439
Thanks. But I always use `export` in my env files. @jaervei

[2022-08-17 17:11] akhiljalagam commented on #439
Thanks. But I always use `export` in my env files. @jaervei

[2022-08-17 19:38] viditsi1 commented on #439
Its working for me now. Thanks for the help.

[2022-08-17 19:42] ankitpokhrel commented on #439
@akhiljalagam  That means for some reason the app is not able to read env from your terminal. I think this is something related to your terminal `foot`, would you be able to check in other terminals?

[2022-08-18 04:08] akhiljalagam commented on #439
Tried in `alacritty` and `kitty` terminals. same error.

[2022-08-18 06:48] ankitpokhrel commented on #439
That's weird! Since I cannot debug this on my side, let's try 2 things.

1. Try passing the env inline and see if it takes bearer token instead of basic

[code]

2. Update the config manually to add auth type
    - Open your config file, you can get the path of config file from help `jira -h`
    - Add a line `auth_type: bearer`, save the file.
    - Run `jira init --debug` and see if it takes bea

[2022-08-18 08:57] akhiljalagam commented on #439
no luck.

still same response.
`Authorization: Bearer`

[2022-08-18 09:21] ankitpokhrel commented on #439
Does this mean you can see the request using bearer token now in the log?

[2022-08-18 09:35] akhiljalagam commented on #439
Yes.

[2022-08-18 09:42] ankitpokhrel commented on #439
Alright now try passing `JIRA_API_TOKEN` in the same manner either inline or in the config as `api_token: <token>` and set `JIRA_AUTH_TYPE` based on if you are using basic or bearer auth. I think it should work.

[2022-08-18 09:45] akhiljalagam commented on #439
great. finally this worked for me. thanks @ankitpokhrel
[code]

[2022-08-18 09:52] ankitpokhrel commented on #439
Awesome! This clearly means the way you were setting the env before has issue. It is for some reason not getting reflected in a subshell. Closing this issue since you can use a workaround.

[2022-08-18 09:52] #439 closed

[2022-08-18 10:33] akhiljalagam commented on #439
@ankitpokhrel
I don't think so. I always used `export` and verfied with `echo` but something wrong with `jira` command the way it is getting variable.I guess.

[2022-08-18 13:56] ebrodsky-abst opened #443 "`--plain` has no effect when used with `epic list`"
**Describe the bug**
`jira epic list --plain` displays a table instead of plaintext output

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code

[2022-08-18 14:00] ankitpokhrel commented on #443
You cannout use `--plain` in preview layout, you need to:

[code]

[2022-08-18 14:00] #443 closed

[2022-08-19 20:45] edlandm commented on #407
Hello. I'm having the same issue. I'm not sure if it's because the username has spaces. I've tried two versions of this (with quotes and without) and still no luck. (This is a cloud Jira installation btw)
![image](https://user-images.githubusercontent.com/3179363/185703883-9207020e-2a1b-4514-ab02-bd78749ce690.png)
![image](https://user-images.githubusercontent.com/3179363/185703923-827fd2bf-c796-4

[2022-08-20 20:32] e455a81e-d3ba-41a2-bc6d-7aafb1d9a5cd commented on #439
I can confirm this issue on Ubuntu 20.04, supplying the api token inline works; but setting the token via `export `or `bashrc `does not.

[2022-08-21 06:50] tomerika commented on #439
For me - this works for getting authenticated successfully (it shows me the list of projects, I select mine successfully)

Then I try to run some command(s) and I get various errors:

1. for `jira issue list` / `jira epic list` I get :
jira: Received unexpected response '400 Bad Request'

2. for `jira issue create ...` I get:
Error:
  - You do not have permission to create issues in this project.

[2022-08-22 05:03] akhiljalagam commented on #439
@ankitpokhrel Re-Open this issue, please.

[2022-08-23 06:40] rymek opened #444 "[MacOS] When having custom resolver configuration inside /etc/resolver/<domain> that was added by a vpn configuration, cli cannot resolve and connect to jira instance"
**Describe the bug**
I'm using openconnect with vpn-slice configured for split-horizon DNS resolvers (ie - domains inside vpn are configured to use specific dns settings via added domain configs to `/etc/resolver/<domain name>`).

**Please provide following details**
1. JiraCLI Version:
[code]

2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installat

[2022-08-24 07:25] tomerika commented on #439
Ok, apparently it was my bad - by that point of trying to debug I've had
`export JIRA_AUTH_TYPE="bearer"`
in my .zshrc which made it not work

Here's how to handle if anyone is facing it:
inside your .zshrc include this:
export JIRA_API_TOKEN="<insert token here>"
(to create a token go to:
https://id.atlassian.com/manage-profile/security/api-tokens)

(make sure you don't have
export JIRA_AUTH_TYPE

[2022-08-24 12:59] e455a81e-d3ba-41a2-bc6d-7aafb1d9a5cd commented on #439
I just tried it again using an executable that I built myself from the current main branch. It now seems to work for me.

[2022-08-25 18:27] xelite opened #446 "Add/remove weblink to issue"
# Web link in issue.

I want to create web link to external resources, eg. monitoring systems. Optional set `--link-text` with default vault same as url.

### `jira issue link ISSUE-123 "http://my.url" "WebLink" [--link-text "check this"] `

![image](https://user-images.githubusercontent.com/5921448/186739228-082555d3-767c-4dc2-9bac-46869ee6429a.png)

[2022-08-29 07:11] #425 closed

[2022-08-29 07:15] ankitpokhrel commented on #425
Hi @svzieg, this should be fixed with #447. Thanks for reporting!

[2022-09-01 20:28] mankoff opened #455 "`v` (view) when viewing list prints in background?"
After running `jira issue list` I am presented with a list of issue. If I type `v` to view one, a box flashes that says `processing... please wait` and then I'm returned to the list. Later, when I hit `q` I see the issue I tried to view printed to the terminal. Is this the expected behavior?

**Please provide following details**
1. JiraCLI Version:

[code]

2. Are you using Jira cloud or on-premis

[2022-09-02 06:36] ankitpokhrel commented on #455
Hi @mankoff, no it is not the expected behavior. Could you please check if you've `PAGER` env set and what its value?

The app uses [less -r](https://www.man7.org/linux/man-pages/man1/less.1.html) command in view mode. Could you also check if you open any file with `less` or `less -r` does it have the same behavior?

[2022-09-02 13:49] mankoff commented on #455
I had `PAGER` set to `less` not `less -v`. This fixes it. Thank you.

[2022-09-03 14:24] mankoff commented on #455
Re-opening and suggesting a hold on #457.

When I `export PAGER='less -v'`, or alternatively leave `PAGER=less` and then `export LESS=-F -X -R -v`, then the `v` key works in `jira-cli`.

However, when I try to use less in `bash` (or read a `man` page), I get now get the following error:

[code]

I'm using less version:

[code]

[2022-09-05 13:32] ankitpokhrel commented on #455
Hi @mankoff, I am not aware of `-v` option in `less`. The tool internally uses `less -r` option if `PAGER` is not set. Did you try with `less -r`?

[2022-09-05 14:13] mankoff commented on #455
I'm not sure why I saw `-v` and tried that. Weird bug in my brain. I found the bug. Because I had export `LESS=-F -X -R`, the `-F` flag quits less if the pager is less than one terminal screen. That was the problem. The `-r` flag is not needed, just no `-F`.

[2022-09-05 14:13] #455 closed

[2022-09-05 16:31] realtime-neil commented on #455
-- https://www.freebsd.org/cgi/man.cgi?query=less

 -- https://github.com/ankitpokhrel/jira-cli/issues/455#issuecomment-1235124085

@ankitpokhrel Why?

[2022-09-05 16:58] ankitpokhrel commented on #455
Hmm...I don't really remember why but I don't see that warning in my version of less (I still have old version 487).

![Screen Shot 2022-09-05 at 6 55 24 PM](https://user-images.githubusercontent.com/2364546/188492169-6551ef59-7b0c-4a70-b364-321d0d2862f9.png)

I think we can use the option `R`, I realized that I have my pager set to `less -R` locally.

[2022-09-06 10:45] samundra commented on #455
My less version also has warning on its doc.

[code]

See screenshot below taken from `man less`

|Screenshot|
|---|
|![Screen Shot 2022-09-06 at 17 43 12](https://user-images.githubusercontent.com/760855/188615774-0db9a8e5-cb61-410b-b203-2fe58cf8d054.jpg)|

[2022-09-06 14:06] realtime-neil opened #460 "`jira board list` hangs."
**Describe the bug**
`jira board list` hangs.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
    cloud
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reproduce th

[2022-09-06 14:11] realtime-neil commented on #460
Here's some weirdness.

When denied a `tty`, `jira board list` _does_ execute to completion:

[code]

[2022-09-08 04:51] xuanyuanaosheng opened #464 "Unexpected response '404 Not Found' from jira."
Hey. I am really looking forward to use your program but got stuck on the init phase. Is it because of the oldness of my company's jira version or something else?

JiraCLI Version:
[code]
Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
JIRA Service Desk 4.5.7
Jira Core 8.5.7
![image](https://user-images.githubusercontent.com/4197714/1890363

[2022-09-08 19:50] ankitpokhrel commented on #460
I guess its because of how `less` behaves in dumb terminal. You can do:

[code]

![Screen Shot 2022-09-08 at 9 45 07 PM](https://user-images.githubusercontent.com/2364546/189212390-3f6cf085-a891-4b20-9211-fc4a7b68b688.png)

[2022-09-08 19:53] ankitpokhrel commented on #464
Hi @xuanyuanaosheng, could you please run `jira init --insecure --debug` and see which call to the Jira API returns 404?

[2022-09-08 21:17] realtime-neil commented on #460
@ankitpokhrel why use `PAGER` at all? A dumb terminal should preclude any/all pagers general --- and certainly `less` in particular.

[2022-09-08 22:43] MattPD commented on #409
I also am unable to set story points.

It is present as an available createmeta field:
[code]

output contains:
[code]

I have added the following to my `.config/.jira/.config.yml` file:
[code]

However, none of these has an effect on ISSUE-123 (even though visiting ISSUE-123 via Web UI does allow me to edit the custom "Story Points" field):
[code]

I can see the following output in the terminal:

[2022-09-09 01:49] xuanyuanaosheng commented on #464
@ankitpokhrel

The detail error is :
[code]

[2022-09-09 07:13] ankitpokhrel commented on #409
Just checked on Jira v8.22.1 and it seem to be working fine in my installation.

@MattPD your config looks ok to me, could you please mention what version of jira you are using? You can get it with `jira serverinfo` if you are using the latest version of jira-cli.

@rhysjtevans Any additional details to help debug the issue would be great (eg: is this happening for just story points custom field o

[2022-09-09 07:30] ankitpokhrel commented on #464
Hi @xuanyuanaosheng, it looks like the board API is not accessible in your installation for some reason. Do you get a valid response back if you send a curl request?

[code]

I deleted your comment since you shared sensitive information. Please update your password.

[2022-09-09 10:03] xuanyuanaosheng commented on #464
@ankitpokhrel
The password field in comment, I have changed,  So don't worry about it.
The API return  is  also 404, I have tested it.
I have ask our jira admin, It seems that this jira version has no board.  Please help to check

[2022-09-11 07:48] ankitpokhrel commented on #460
hmm...its a TUI app so not primarily designed for dumb terminal. I will introduce a new env `JIRA_PAGER` so one can override pager just for jira-cli if required.

[2022-09-11 08:02] ankitpokhrel commented on #444
@rymek looks like you need a way to set custom DNS resolver. Just wondering if it will work if the tool allow you to set a resolver IP (and protocol) for communication with the Jira API?

[2022-09-11 08:10] ankitpokhrel commented on #464
Hi @xuanyuanaosheng, just checked in Jira v8.5.7 (same as yours) and the API is available and working as expected. This seems to be something related with your installation.

[2022-09-11 10:16] rymek commented on #444
i think this might be a bug in some go library you're using. This is a os feature that you can add a resolver for a specific domain to resolver dir. Every other app I'm using on the system is working correctly. I'm suspecting w bug in this dial library but haven't got time to look though it yet and I don't really know go so it's kinda more difficult for me 🙂

[2022-09-11 16:43] realtime-neil commented on #460
@ankitpokhrel If you'll permit me to say so, I think `jira-cli` has an identity crisis.

The prominent mention of "cli" in the name of the project implies that the program should be used as a Jira client with a _command-line_ interface. Just now, you declare "its [sic] a TUI app".

The problem is that the latter is a proper superset of the former.

I'm interested in using programs that assume stan

[2022-09-12 09:58] ankitpokhrel commented on #460
@realtime-neil Thank you for bringing this up, and I am sorry that your expectations with the project are not met.

Maybe it was my bad to call it a "CLI" but the description always said it's an "interactive" command line tool. I didn't realize that might be the source of confusion. I will try to make this clear on the docs moving forward.

To answer your questions: the project started as a TUI ap

[2022-09-12 14:32] emmanuelnk opened #466 "How can I select multiple statuses?"
I'd like to see all issues that neither DONE nor REJECTED e.g.

[code]

But this doesn't work -- it always takes just the last filter. I can't see this anywhere in the documentation but I think this is a common scenario. If there isn't a way to do this, I'll open a feature request.

[2022-09-12 22:18] MattPD commented on #409
Interesting--I do have the latest release but it doesn't appear to be recognized:
[code]

I can wait for the next release if this requires the latest commit build--or perhaps there's some way I can check this via Curl?

FWIW, the bottom of my Jira Web UI says "Atlassian Jira [Project Management Software](https://www.atlassian.com/software/jira) (v8.20.5#820005" and visiting the AboutPage.jspa show

[2022-09-13 07:38] ankitpokhrel commented on #466
Hi @emmanuelnk, `-s` option only takes a single value at the moment so the command above won't work. You can do something like below to filter issues in multiple statuses.

[code]

[2022-09-13 15:19] emmanuelnk commented on #466
Thank you that works! Closing

[2022-09-13 15:19] #466 closed

[2022-09-13 16:10] realtime-neil commented on #460
That would be much appreciated, thank you.

My feelings are irrelevant. Only the software is relevant. There exist issues against `jira-cli` that complain about missing/broken functionality in relatively limited environments. These issues have remained open for various reasons. That I am the one who opened them is meaningless. Only your reasons for de-prioritizing them are meaningful.

If you say

[2022-09-14 02:14] xuanyuanaosheng commented on #464
@ankitpokhrel   We are using Jira Server Desk, Could you please help to test it?

[2022-09-14 02:48] xuanyuanaosheng commented on #225
@HyHyena   Any update?

[2022-09-14 06:57] danjee commented on #340
I'm still having issues with this on version 1.1.0
I've regenerated the config file with the init to add the custom fields. Another question rises here, how do you work with multiple projects?

<img width="1495" alt="Screenshot 2022-09-14 at 09 54 45" src="https://user-images.githubusercontent.com/3084216/190082589-4ef8a62f-8177-4896-a99a-4ced1a42b76a.png">

The config contains the custom fields i

[2022-09-14 07:12] ankitpokhrel commented on #340
Hi @danjee, you need to pass the field name. You can find the [details here](https://github.com/ankitpokhrel/jira-cli/discussions/346). Also, note that not all data type is supported for custom fields.

[2022-09-14 19:06] lambwaves opened #470 "Create issues in the _board_, rather than the _backlog_"
Howdy!

I love your tool, but I'm having a bit of a problem, most likely due to my unfamiliarly with Jira.

My workflow is hearing about a bug in slack, then creating an issue in Jira; which I need for opening a pull request and for time tracking.

One small issue I've run into today has been getting created issues to show up in the _board_, as issues created with this tool show up in the _backlog

[2022-09-15 04:14] danjee commented on #340
Maybe I'm missing something from the documentation but I'm not passing them ? See first picture?

[2022-09-15 07:16] ankitpokhrel commented on #340
You need to pass the name slug. So instead of `--custom=customfield_11780=xyz` it would be `--custom=rollback-strategy=xyz`. You don't have to look for custom field key from Jira. This is explained in the doc I shared above.

[2022-09-15 16:19] ankitpokhrel commented on #470
@lambwaves Issue is tied to the project.

For scrum boards, the task will be available in the backlog and you need to move it your board from backlog. I don't thin you can select board when creating issues from the UI too.

If your board is created with a saved filter, the issue will show up in your board if it matches the filter the board is using. Check what filters you are using in the board an

[2022-09-15 16:19] #470 closed

[2022-09-15 16:25] #434 closed

[2022-09-15 17:17] ankitpokhrel commented on #444
This indeed seem to be an issue in the standard go library https://github.com/golang/go/issues/12524 and will wait for the upstream fix.

As a workaround suggested in the comments, you can try compiling locally with `cgo`.

[code]

[2022-09-17 03:23] PrimordialLight commented on #282
Hopefull this helps someone. After running Jira Init, this is how my config looked (after changing project type to `classic`).
[code]
The `epic > name` field had a value of `customfield_12271` so I tried setting the `epic > link` to the same `customfield_12271`. This didnt work and I got the following error:
[code]

I noticed that the `fields > custom > Epic Link` had a value of `customfield_12270

[2022-09-18 18:19] ankitpokhrel commented on #464
This has nothing to do with Jira Service Desk but it looks like you don't have agile add-on in your installation. The tool uses agile api for board, epic and sprints.

The `init` will fail at the moment if the API is not available. However, I think there should be a way to skip this when generating the config. I will see what I can do here.

[2022-09-19 03:11] xuanyuanaosheng commented on #464
@ankitpokhrel OK, Thanks. Look forward to your new features.

[2022-09-20 07:42] xuanyuanaosheng commented on #464
@ankitpokhrel   Is this **agile add-on** can be installed after the installation?

[2022-09-22 08:57] anavarre opened #474 "jira sprint list does not accept passing an arbitrary project string"
**Describe the bug**

I'm using the default configuration file and my default project string is `IDE`

[code]

This means whether or not I pass `-pIDE` to the `jira sprint list` commands it properly returns my items.

[code]

But now, if I change the project string to use something different, say `DIS` (which very much exists), then it fails.

[code]

However we can see below it very much exists w

[2022-09-25 08:12] ankitpokhrel commented on #464
I don't know much about that. Please check with your Jira administrator.

[2022-09-25 09:05] ankitpokhrel commented on #474
Hi @anavarre, sprints do not relate to a project but the boards. `jira issue list` gets [all sprint in the configured board](https://developer.atlassian.com/cloud/jira/software/rest/api-group-board/#api-rest-agile-1-0-board-boardid-sprint-get). So the project filter won't do anything in this case.

[2022-09-25 09:05] #474 closed

[2022-09-26 14:24] yermulnik opened #476 "Error: open Light: no such file or directory"
**Describe the bug**

Running any CLI command to query Jira results in `Error: open Light: no such file or directory` error

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you u

[2022-09-26 15:43] masukomi opened #477 "Fails to account for SSO logins"
**Describe the bug**
when using `jira init` it requests an email and immediately errors with `401 Unauthorized`. This is, presumably, because at our company we use Single Sign On to authenticate, not our emails.

Short term suggestions:
* document that SSO isn't supported in the Readme (so that folks don't bother installing it if they can't use it)
* ask what form of authentication the person uses

[2022-09-26 17:16] ankitpokhrel commented on #477
Hi @masukomi, I am also using jira-cli with SSO in my company but its a self-hosted Jira Server. I think it should work if are able to generate Personal Access Token (PAT).

Basically what I am doing is:

- Set `JIRA_AUTH_TYPE` to `bearer`
- Generate PAT (Click on your pic in Jira -> Profile -> Personal Access Tokens)
- Set `JIRA_API_TOKEN` to the generated personal access token
- Run `jira init`

[2022-09-29 09:32] illfygli commented on #477
I started using it today and had the same problem.
Turned out to be an old version I had lying around in `.local/bin`. :)
I tried to use it before we could create PATs, which didn't work, but now it does so I tried again.

So as another data point I can report that it works great with my employer's Jira installation, which uses SSO (AD-based I believe).

@masukomi Have you tried using the username

[2022-09-30 13:53] vydyas commented on #476
I can work on this issue as part of hacktoberfest.

[2022-09-30 15:59] tcoffin commented on #389
I can similarly reproduce this issue on OSX (12.6)
(Version="1.1.0", GitCommit="3b93e147eac468ad985bdece27469153b4bb2814", CommitDate="2022-08-14T08:10:40+00:00", GoVersion="go1.18.3", Compiler="gc", Platform="darwin/amd64")

jira issue view --plain <issue>

[2022-10-02 07:45] #429 closed

[2022-10-02 07:46] ankitpokhrel commented on #429
Hi @leopck, this has been fixed with #475. You can use `--show-all-issues` flag to view issues from all projects. `jira issue list` will only show issues from configured project or project selected with `-p` option.

Note that the Jira behavior doesn't seem consistent here so you might still get results different than that of the Jira UI.

[2022-10-02 22:33] Syd7 commented on #446
not sure if this feature is confirmed or not, would it be possible to work on it as part of hacktoberfest?

[2022-10-07 15:42] bobobox opened #484 "keychain password must be in 'login' keychain, not 'iCloud'"
### Discussed in https://github.com/ankitpokhrel/jira-cli/discussions/356

<div type='discussions-op-text'>

<sup>Originally posted by **ankitpokhrel** April 30, 2022</sup>

### 3. Keychain password manager

Add a new password item entry with an item name `jira-cli` and account name as your jira username/email.

</div>

The above shoud note that the iCloud keychain is not supported. I initially tr

[2022-10-08 18:24] ankitpokhrel commented on #484
Updated, thank you!

[2022-10-08 18:24] #484 closed

[2022-10-08 18:34] ankitpokhrel commented on #409
Hi @MattPD, `serverinfo` command is not yet released, my bad. I checked this on Jira v8.20.5 and the story points is updated successfully in my installation.

It would be helpful if someone can debug this a bit and provide more info.

[2022-10-08 22:23] iouri-forusall commented on #477
same issue for me:

Set JIRA_AUTH_TYPE to bearer
Generate PAT (Click on your pic in Jira -> Profile -> Personal Access Tokens)
Set JIRA_API_TOKEN to the generated personal access token
Run jira init and use your email or username.

Results in:
Received unexpected response '401 Unauthorized' from jira. Please try again.

[2022-10-11 09:40] illfygli commented on #477
@Akorian You need to export them too, `export   JIRA_AUTH_TYPE=bearer`, to make them available to other programs.

[2022-10-13 17:41] bobobox commented on #282
Thank you - this fixed it for me.

[2022-10-15 08:59] #446 closed

[2022-10-20 19:58] stobias123 opened #486 "sprint list does not accept limit."
**Describe the bug**
Limit flag doesn't work for sprints

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to repr

[2022-10-25 14:21] snpefk opened #487 "Zsh complition file installs into wrong directory."
**Describe the bug**
In my case, it was installed into `~/.oh-my-zsh/plugins/aws`. I guess `.oh-my-zsh` somehow affects `fpath` in unexpected way.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4.

[2022-10-25 17:03] ScriptAutomate opened #488 "Expand `jira issue list --status` to include querying for issues of different status"
**Is your feature request related to a problem? Please describe.**

I can only list issues assigned to me with either any status, or a single status type.

**Describe the solution you'd like**

I'd like to view all issues assigned to me that are `Blocked` and `In Progress`, for example, with results in the same table without having to run two separate `jira` commands.

[code]

**Describe alternati

[2022-10-27 19:33] dhiemaz commented on #486
After checking the code, I think this is not an issue but more of to feature request as in the sprint list there is no limit flag.

[2022-10-27 20:07] dhiemaz commented on #486
there is no limit flag, if you want to limit result, use paginate flag

command example
[code]

testing result
[code]

[2022-10-27 20:44] dhiemaz commented on #488
@ankitpokhrel, I will handle this feature.

[2022-11-05 12:42] ankitpokhrel commented on #487
Hi @snpefk, Thank you for reporting this. For `macOS` it should be the following command:

[code]

[2022-11-05 12:47] ankitpokhrel commented on #486
Hi @stobias123, you are still using the temporary dev version `request-222`. Please upgrade to the [latest release](https://github.com/ankitpokhrel/jira-cli/releases) and use `--paginate` option as @dhiemaz suggested.

[2022-11-05 12:47] #486 closed

[2022-11-05 12:47] #487 closed

[2022-11-05 12:51] ankitpokhrel commented on #488
@ScriptAutomate You can use following command as a workaround until this feature gets released.

[code]

[2022-11-05 13:05] ankitpokhrel commented on #428
Closing due to inactivity. Please feel free to comment or open a new issue if you still need help.

[2022-11-05 13:05] #428 closed

[2022-11-05 13:38] snpefk commented on #487
Thanks you for fix, but it's still misleading docs. I'm on **Linux** and if I follow updated docs code completion would be installed in the wrong directory.

[2022-11-05 14:26] ankitpokhrel commented on #487
I see, thanks. The `fpath[1]` will take first directory available in `fpath`, in my case it is `docker-compose`. To make it work with fpath we will need to add custom directory to fpath and add the auto completion there. Since it involves a few steps I will stick with recommending `jira completion zsh > /usr/share/zsh/site-functions/_jira` in help which seem to be working for both mac and linux.

[2022-11-07 12:56] RealJTG opened #494 "No html content displayed in "Description" and "Comments" fields"
I have on-premise JIRA installation and issues with html-formatted content in "Description" and "Comments" fields. Theese fields are displayed as empty in jira-cli.

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention v

[2022-11-08 10:34] tarmotubro opened #495 "clone issue results with priority error"
command: `jira issue clone <TICKET_#>`

result:
[code]

**Please provide following details**
1. JiraCLI Version:
[code]
2. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
3. What operating system are you using? Also mention version.
[code]
4. What terminal are you using? Also mention version.
[code]

**To Reproduce**

Steps to reprod

[2022-11-09 13:50] GZLiew commented on #342
@ankitpokhrel I finally found the issue. it was because Im using local installation which points to the V2 api instead of V3. I am able to assign to users now

[2022-11-14 08:48] xuanyuanaosheng commented on #464
@ankitpokhrel   Any update ?

[2022-11-14 14:56] edsantiago opened #498 "[containerized] jira issue view throws "Error: exit status 1""
**Describe the bug**
[code]

**Please provide following details**
1. JiraCLI Version:
[code]
Also tried building locally (same results):
[code]
3. Are you using Jira cloud or on-premise jira server? Also mention the version for on-premise installation.
[code]
4. What operating system are you using? Also mention version.
[code]
5. What terminal are you using? Also mention version.
[code]

**To Repr

[2022-11-15 19:09] coltoneakins opened #499 "`clone` command does not clone custom field values"
**Describe the bug**

As it stands, the `jira clone` command does not really 'clone' issues in the same way Jira actually would. Issue custom fields are not copied over at all (the custom fields listed in `.config/.jira/.config.yml `).

Part of my .config.yml file:

[code]

None of these custom fields are copied over when cloning an issue.

For instance, when cloning issue:

ISSUE-12345

to

ISSUE

[2022-11-16 15:43] edsantiago commented on #498
`jira board list` also fails with `Error: exit status 1` and no other output.

[2022-11-18 20:17] comjf opened #501 "Please consider releasing arm docker images (m1 mac)"
Hello,

Excited about the possibility of this project! I just dove right in on your README and the docker step doesn't work because of platform versions. I'm hoping i can get around it using a different installation method (likely brew) but thought I'd throw a quick note here regardless (doesn't look like this was discussed in an existing issue).

Thanks!

Trace:
[code]

[2022-11-19 10:55] ankitpokhrel commented on #495
Hi @tarmotubro, based on the error message, it seems like your workflow doesn't allow to set `Priority` when creating the issue. Is that correct?

[2022-11-19 11:37] ankitpokhrel commented on #499
Hi @coltoneakins, Jira doesn't provide any API to clone the issue. So, the clone command is fetching and re-creating the issue with the most common fields. And, custom fields are not included during this process as this will complicate things a bit. Technically, current `clone` command is same as issuing the `create` command by passing all parameters manually.

[2022-11-19 11:59] ankitpokhrel commented on #498
Hi @edsantiago, I believe this will work with the following (something that needs to be fixed in the tool):

[code]

[2022-11-19 12:18] edsantiago commented on #498
That did indeed resolve it! Thank you @ankitpokhrel, and thank you for this tool.

[2022-11-19 17:11] ankitpokhrel commented on #464
Hi @xuanyuanaosheng, could you please check #502 resolves your issue? The PR makes boards optional for local installation.

You can install it with:

[code]

[2022-11-21 02:51] coltoneakins commented on #499
@ankitpokhrel - Based on your experience, would it be 'infeasible' to adjust the command to:

1. Read the custom fields from the source issue
then
2. Set the custom fields on the newly created, cloned issue

So, it 'seems' like the issue is being cloned?

I haven't worked with Jira's API extensively. So, do you think this approach would work?

[2022-11-21 09:54] xuanyuanaosheng commented on #464
@ankitpokhrel  I have test it
[code]

The error log is
[code]

[2022-11-21 17:49] comjf commented on #477
I ran into this today as well. @spprashant documented the workaround that unblocks me (don't set `JIRA_AUTH_TYPE`)

[2022-11-22 08:52] ankitpokhrel commented on #464
Hi @xuanyuanaosheng, thank you for testing. I guess you are running it with `--debug` flag, do you get similar error if you run it without the `--debug` flag?

[2022-11-22 08:55] ankitpokhrel commented on #477
@comjf / @spprashant are you using local Jira installation? The token generated in local installation is used with basic auth IIRC so we don't need to set `JIRA_AUTH_TYPE` to `bearer`.

[2022-11-24 10:07] Roobxyz opened #504 "Can't pip jira sprint list --plain"
I'd like to use the jira CLI to select a sprint and assign it to a variable but cannot redirect the output of sprint.

For issues, I can run the below and parse the resulting table in shell:
[code]

But cannot run the equivalent `sprint` command
[code]

Both commands should behave the same so that we can pipe the output of both.

[2022-11-24 10:23] ankitpokhrel commented on #504
@Roobxyz `jira issue list` and `jira epic list` uses preview mode by default. You can list them in table view and use the plain option.

[code]

[2022-11-24 15:15] Roobxyz commented on #504
Perfect -- thank you!

[2022-11-24 15:15] #504 closed

[2022-11-25 02:30] xuanyuanaosheng commented on #464
@ankitpokhrel  Any update?

[2022-11-25 08:43] ankitpokhrel commented on #464
The `--insecure` flag is already available in the `init` command. Are you sure the your jira server is using `https` and not `http`?

[2022-11-25 09:23] xuanyuanaosheng commented on #464
@ankitpokhrel Yes,  my jira server is using https

[2022-11-26 11:01] ankitpokhrel commented on #464
I found some discrepancy with `--insecure` flag and should be resolved in #507. Could you please test again using latest docker image or building it with `go`? Thanks

[2022-11-27 09:51] ankitpokhrel commented on #501
Hi @comjf, this is done in #508 and image for the next release will be available for arm. Thanks for taking the time to report this!

[2022-11-27 09:51] #501 closed

[2022-11-28 09:41] xuanyuanaosheng commented on #464
@ankitpokhrel  I am using the latest main:
[code]

The error is
[code]

[2022-11-28 10:40] ankitpokhrel commented on #464
The fix for making the board optional is not merged yet so main branch won't work. You need to use the branch for PR #502.

[code]

[2022-11-29 03:51] xuanyuanaosheng commented on #464
@ankitpokhrel

The SR can not work
[code]

But the IN can work
[code]

[2022-11-30 18:28] markpalantoni opened #514 "Resolution flag in move issue not working"
Great package! Thanks for maintaining.

Move issue with the -R flag is not working for me e.g.
`jira issue move CPD-5024 'Production' -RDone`

The Github documentation says:

# Set resolution to fixed and assign to self while moving the issue
$ jira issue move ISSUE-1 Done -RFixed -a$(jira me)

However, the CLI documentation only lists --help and --web as available flags for `move`.

Is the -R fla